<!--
    File: home.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/15/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the home page
    this page doesn't really have anything useful for now

    Update on Summer 2023
    Author: Shan Huang
    https://docs.google.com/document/d/1mDpigrXXO_M6OaHbYqD4Co1a8MFXbxVUptWiY5mgclU/edit?usp=sharing
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->

<h1 style="text-align:left" >
    Mission:
</h1>

<p style="text-align:left; font-family:Lucida Console, Courier New, monospace;">
    You are an agent who needs to reach agreement on a time and place to meet with your fellow agent, to exchange an essential asset. 
    However, there is a <b>malicious</b> adversary trying to prevent you from reaching consensus on the time and place.  
    Your only communication with your fellow agent is over a network, which is controlled by the adversary. 
    At the end of the game session, you will vote to decide on the meeting time and place.
</p>

<h1 style="text-align:left;">
    Goal:
</h1>
<p style="text-align:left;">
    Reach agreement with your fellow agent on the meeting time and place.
</p>

<h1 style="text-align:left;">
    Cryptographic Tools:
</h1>
<p style="text-align:left;">
<ul>
    <li>Symmetric Encryption: Encrypt or decrypt  your message using a Shared Symmetric Key known by you and the recipient.</li>
    <li>Asymmetric Encryption: Encrypt messages using the Receiver’s Public Key, or decrypt the message using the Receiver's Private Key. </li>
    <li>Signature: Sign your message with the Sender’s (Your) Private Key; the receiver can verify your identity with the Sender’s (Your) Public Key.  Here, a valid signature also encrypts and guarantees message integrity (i.e., that the message has not been modified in transit).</li>
</ul>
</p>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// Connect to the Socket.IO server.
        // The connection URL has the following format, relative to the current page:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io();
		socket.on('ingame', function() {
            window.location.href = "{{ url_for('messages') }}";
        });
	});
</script>












{% endblock content %}