<!--
    File: home.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/15/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the home page
    this page doesn't really have anything useful for now

    Update on Summer 2023
    Author: Shan Huang
    https://docs.google.com/document/d/1mDpigrXXO_M6OaHbYqD4Co1a8MFXbxVUptWiY5mgclU/edit?usp=sharing
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->

<h1 style="text-align:center" >
    Scenario:
</h1>

<p style="text-align:center; font-family:Lucida Console, Courier New, monospace;">
    You are an agent who need to meet with ONE of your fellows at a secret time and place to exchange information. 
    However, there is TWO other users besides you in the network and ONE of them is a malicious adversary trying to interrupt your guys meeting. 
    You and another fellow will vote at the end of game session to decide a time and place to meet based on the conversation.
</p></br>

<h1 style="text-align:center;">
    Goal:
</h1>
<p style="text-align:center;">
    <ul>
        <li>Agree on the time and place with your fellow  AND </li>
        <li>The time and place need to be different from the adversary</li>
    </ul>
</p>

<h1 style="text-align:center;">
    Powerful Tools:
</h1>
<p style="text-align:center;">
<ul>
    <li>Symmetric Encryption: Encypting and decrypting your message with Shared Symmetric Key of you and the recipient. </li>
    <li>Asymmetric Encryption: Encypting your message with Receiver's Public Key and decrypting the message with Reciver's own Private Key. </li>
    <li>Signature: Signing the your message with Sender's (Your) own Private Key, and the receiver verifies your identity with Sender's (Your) Public Key.</li>
</ul>
</p>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// Connect to the Socket.IO server.
        // The connection URL has the following format, relative to the current page:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io();
		socket.on('ingame', function() {
            window.location.href = "{{ url_for('messages') }}";
        });
	});
</script>












{% endblock content %}