<!-- 
    File: adversary_messages.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/24/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the adversary messages page
    messages.html and this file could be combined using if statements to check if the current user is an adversary
    we might want to do that in the future so that we don't have to edit two message sections in two documents
-->
{% import 'messages.j2' as messages %}

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <h1>Messages</h1>

    <!-- this part here is just copied from messages.html -->
    <div class="content-section">
        <form method="POST" action="">
            {{ msg_form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- these form groups are basically the same thing, just for each field needed for the messages -->
                <legend class="border-bottom mb4">Send a Message</legend>
                <div class="form-group">
                <label class="form-control-label" for="name">Senders</label> <br/>
                {% for username in usernames %}
                    <div class="form-check form-check-inline">
                        <!-- below line needs the ', ' in value to make processing usernames easier -->
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="senders" value="{{ username }}, ">
                        <label class="form-check-label" for="inlineCheckbox1">{{ username }}</label>
                    </div>
                {% endfor %}
                </div> <br/>
                <div class="form-group">
                <label class="form-control-label" for="name">Recipients</label> <br/>
                {% for username in usernames %}
                    <div class="form-check form-check-inline">
                        <!-- below line needs the ', ' in value to make processing usernames easier -->
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="recipients" value="{{ username }}, ">
                        <label class="form-check-label" for="inlineCheckbox1">{{ username }}</label>
                    </div>
                {% endfor %}
                </div> <br/>
                <div class="form-group">
                    {{ msg_form.content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if msg_form.content.errors %} <!-- if there are errors in the form... -->
                        {{ msg_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in msg_form.content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ msg_form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div> <br>
                <div class="form-group">
                    {{ msg_form.encryption_and_signed_keys.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if msg_form.encryption_and_signed_keys.errors %} <!-- if there are errors in the form... -->
                        {{ msg_form.encryption_and_signed_keys(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in msg_form.encryption_and_signed_keys.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ msg_form.encryption_and_signed_keys(class="form-control form-control-lg") }}
                    {% endif %}
                </div> <br/>
            </fieldset>
            <div class="form-group" style="margin:10px 0px;">
                {{ msg_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% if message %} <!-- if there is a message passed, display it and the edit message stuff -->
    <h2>Round {{ game.current_round }} Message {{ current_msg }}/{{ msg_list_size }}</h2>
        <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/article.html -->
    {% if message.is_edited %} <!-- if the message has been edited, display the edited parts-->
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            {% if message.new_sender %}
            <a>New Sender: {{ message.new_sender }} | </a>
            {% else %}
            <a>Sender: {{ message.sender }} | </a>
            {% endif %}
            {% if message.new_recipient %}
            <a>New Recipient: {{ message.new_recipient }}</a>
            {% else %}
            <a>Recipient: {{ message.recipient }}</a>
            {% endif %}
            {% if message.adv_created %}
            <a> | This message was created by the adversary.</a>
            {% endif %}
            {% if message.is_deleted %}
            <a> | This message has been deleted.</a>
            {% else %}
            <a> | This message has been edited.</a>
            {% endif %}
            </div>
            {% if message.edited_content %}
            <p class="article-content">{{ message.edited_content }}</p>
            {% else %}
            <p class="article-content">{{ message.content }}</p>
            {% endif %}
        </div>
    </article>
    {% elif message.adv_created %} <!-- if the adversary created the message -->
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a>Sender: {{ message.sender }} | </a>
            <a>Recipient: {{ message.recipient }}</a>
            <a> | This message was created by the adversary.</a>
            </div>
            <p class="article-content">{{ message.content }}</p>
        </div>
    </article>
    {% else %} <!-- if the message hasn't been edited, display normally -->
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a>Sender: {{ message.sender }} | </a>
            <a>Recipient: {{ message.recipient }}</a>
            </div>
            {% if message.is_encrypted %}
			<p class="article-content">--UNABLE TO DECRYPT--</p>
			{% else %}
			<p class="article-content">{{ message.content }}</p>
			{% endif %}
        </div>
		{% if message.is_encrypted %}
			<div class="m-1 row ">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Encrypted by:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ message.sender }}</div>
			</div>
			{% endif %}
			{% if message.is_signed %}
			<div class="m-1 row">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed by:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ message.signed_details }}</div>
			</div>
			{% endif %}
    </article>
	{% endif %}	

    <div class="content-section">
        <form method="POST" action="">
            {{ adv_msg_edit_form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- these form groups are basically the same thing, just for each field needed for the messages -->
                <legend class="border-bottom mb4">Edit a Message</legend>
                <div class="form-group">
                <label class="form-control-label" for="name">New Senders</label> <br/>
                {% for username in usernames %}
                    <div class="form-check form-check-inline">
                        <!-- below line needs the ', ' in value to make processing usernames easier -->
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="new_senders" value="{{ username }}, ">
                        <label class="form-check-label" for="inlineCheckbox1">{{ username }}</label>
                    </div>
                {% endfor %}
                </div> <br/>
                <div class="form-group">
                <label class="form-control-label" for="name">New Recipients</label> <br/>
                {% for username in usernames %}
                    <div class="form-check form-check-inline">
                        <!-- below line needs the ', ' in value to make processing usernames easier -->
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="new_recipients" value="{{ username }}, ">
                        <label class="form-check-label" for="inlineCheckbox1">{{ username }}</label>
                    </div>
                {% endfor %}
                </div> <br/>
                <div class="form-group">
                    {{ adv_msg_edit_form.edited_content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if adv_msg_edit_form.edited_content.errors %} <!-- if there are errors in the form... -->
                        {{ adv_msg_edit_form.edited_content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in adv_msg_edit_form.edited_content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {% if message.edited_content %} <!-- if the message has been edited, display the edited parts-->
                        {{ adv_msg_edit_form.edited_content(class="form-control form-control-lg",value=message.edited_content) }}
                        {% else %} <!-- if the message hasn't been edited, display normally -->
                        {{ adv_msg_edit_form.edited_content(class="form-control form-control-lg",value=message.content) }}
                        {% endif %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group" style="margin:10px 0px;">
                <!-- previous, next, delete, and submit buttons for message editing -->
                {{ adv_buttons_form.prev_submit(class="btn btn-outline-info") }}
                {{ adv_buttons_form.next_submit(class="btn btn-outline-info") }}
                {{ adv_buttons_form.delete_msg(class="btn btn-outline-info") }}
                {{ adv_msg_edit_form.submit_edits(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% else %} <!-- if no messages are passed, just display this -->
    <h2>Round {{ game.current_round }} </h2>
    <h3>No messages for the current round.</h3>
    {% endif %}
    
    <!-- advance round button -->
    <div class="content-section">
        <form method="POST" action="">
            <div class="form-group" style="margin:10px 0px;">
                {{ adv_next_round_form.advance_round(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% if prev_msg_flag %}
    <legend class="border-bottom mb4">Messages for previous rounds:</legend>
    {% for prev_msg in prev_msgs%} <!-- if message has content, display it and some information about it like sender and round -->
        <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/article.html -->
        {% if prev_msg.is_edited %} <!-- if the message has been edited, display the edited parts-->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                {% if prev_msg.new_sender %}
                <a>New Sender: {{ prev_msg.new_sender }} | </a>
                {% else %}
                <a>Sender: {{ prev_msg.sender }} | </a>
                {% endif %}
                {% if prev_msg.new_recipient %}
                <a>New Recipient: {{ prev_msg.new_recipient }}</a>
                {% else %}
                <a>Recipient: {{ prev_msg.recipient }}</a>
                {% endif %}
                {% if prev_msg.adv_created %}
                <a> | This message was created by the adversary.</a>
                {% endif %}
                {% if prev_msg.is_deleted %}
                <a> | This message has been deleted.</a>
                {% else %}
                <a> | This message has been edited.</a>
                {% endif %}
                </div>
                {% if prev_msg.edited_content %}
                <p class="article-content">{{ prev_msg.edited_content }}</p>
                {% else %}
                <p class="article-content">{{ prev_msg.content }}</p>
                {% endif %}
            </div>
        </article>
        {% elif prev_msg.adv_created %} <!-- if the adversary created the message -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ prev_msg.sender }} | </a>
                <a>Recipient: {{ prev_msg.recipient }}</a>
                <a> | This message was created by the adversary.</a>
                </div>
                <p class="article-content">{{ prev_msg.content }}</p>
            </div>
        </article>
        {% else %} <!-- if the message hasn't been edited, display normally -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ prev_msg.sender }} | </a>
                <a>Recipient: {{ prev_msg.recipient }}</a>
                </div>
				{% if prev_msg.is_encrypted %}
				<p class="article-content">--UNABLE TO DECRYPT--</p>
				{% else %}
				<p class="article-content">{{ prev_msg.content }}</p>
				{% endif %}
            </div>
			{% if prev_msg.is_encrypted %}
			<div class="m-1 row ">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Encrypted by:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg.sender }}</div>
			</div>
			{% endif %}
			{% if prev_msg.is_signed %}
			<div class="m-1 row">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed by:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg.signed_details }}</div>
			</div>
			{% endif %}
        </article>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endblock content %}