<!-- 
    File: adversary_messages.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/24/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the adversary messages page
    messages.html and this file could be combined using if statements to check if the current user is an adversary
    we might want to do that in the future so that we don't have to edit two message sections in two documents
-->
{% import 'messages.j2' as messages %}

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <h1>Messages</h1>

    <!-- this part here is just copied from messages.html -->
    <div class="content-section">
        <form method="POST" action="">
            {{ msg_form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- these form groups are basically the same thing, just for each field needed for the messages -->
                <legend class="border-bottom mb4">Create a Message</legend>
                <div class="form-group">
                <label class="form-control-label" for="name">Senders</label> <br/>
                {{messages.user_interface(usernames,"senders",true)}}
                </div> <br/>
                <div class="form-group">
                <label class="form-control-label" for="name">Recipients</label> <br/>
                {{messages.user_interface(usernames,"recipents",true)}}
                </div> <br/>
                <div class="form-group">
                    {{ msg_form.content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    {{ msg_form.meet_location (class="gray-blue",id="locations") }}
					<img id="location-image" width="250px" height="180px" src="/images/cafe.png" style="display:block;margin:20px;">
					{{ msg_form.meet_time (class="gray-blue")}}
                    {{ msg_form.meet_am_pm (class="gray-blue") }}
                    {% if msg_form.content.errors %} <!-- if there are errors in the form... -->
                        {{ msg_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in msg_form.content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ msg_form.content(class="form-control form-control-lg", style="margin:10px;") }}
                    {% endif %}
                </div> <br>
				<div class="form-group">
				{{ msg_form.encryption_and_signed_keys(id="encryption_and_signed_keys", type="hidden") }} 
			 </div>
			 <br/>
		  </fieldset>
			 <div class="row g-2 align-items-center">
				<div class="col">
				   <select id="encryption_sign_type_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example" name="encryption_type_select">
					  <option  value= "-1" selected>No Encryption/Signature</option>
					  <option value="symmetric">Symmetrically Encrypt</option>
					  <option value="asymmetric">Asymmetrically Encrypt</option>
					  <option value="signed">Sign</option>
				   </select>
				</div>
				with
				<div class="col">
				   <select id="key_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example"  name="encryption_key">
					  <option id='default_key_select' value= "-1" selected>No Key Selected</option>
					  {% set current_user_name =  current_user.username  -%}
					  {% for username in usernames %}
						 {% if current_user_name != username %}
							<option value="Shared_{{current_user_name}}_{{username}}">Shared Symmetric Key for {{current_user_name}} and {{username}} </option>
						 {% endif %}
					  {% endfor %}
					  {% for username in usernames %}
						 <option value="public_{{username}}">{{username}}'s Public Key</option>
						 {% if current_user_name == username %}
							<option value="private_{{username}}">{{username}}'s Private Key </option>
						 {% endif %}
					  {% endfor %}
				   </select>
				</div>
			 </div>
			 <div id="error-message" hidden="hidden"><p>You need to select both Keys and Encryption/Signed type</p></div>
			 <div class="form-group">
				{{ msg_form.submit(class="btn btn-outline-info", onclick="addCryptography()", id="submitButton") }}
			 </div>
		  </div>

	   </form>
	</div>
	
<script>
	function addCryptography(){
		var dropboxes = document.querySelectorAll('#encryption_sign_type_select, #key_select');
		var submitString = "";
		key_select = $( "#key_select" ).val();
		type_select = $( "encryption_sign_type_select" ).val();
	
	
		var allSelectedValues = Array.from(dropboxes).every(function(db) {
			return db.value !== '-1';
		});
		
		if(allSelectedValues){
			const listEl = document.createElement('li');
			const buttonEl = document.createElement('button');
			const spanEl = document.createElement('span');
			const spanEl2 = document.createElement('span');
			
			listEl.classList.add("select2-selection__choice");
			
			buttonEl.setAttribute("type", "button");
			buttonEl.setAttribute("onclick", "return this.parentNode.remove();");
			buttonEl.classList.add("select2-selection__choice__remove");
			buttonEl.textContent = "×";
			
			listEl.appendChild(buttonEl);
			
			spanEl.classList.add("select2-selection__choice__display");
			spanEl.textContent = type_select;
			listEl.appendChild(spanEl);
			
			spanEl2.classList.add("select2-selection__choice__display");
			spanEl2.textContent = user_select + "." + key_select;
			listEl.appendChild(spanEl2);
			
			var listContainer = $( "#cryptography_tags_list" );
			listContainer.append(listEl);
				
			var submitString = "";
				
			$('#cryptography_tags_list li').each(function() {
				var option_all = $(this).children().map(function () {
					return $(this).text();
				}).get().join(',');

				var chars = option_all.split(',');
				
				submitString += chars[1] + "(" + chars[2] + "),"
			}) 		
	}
	
	submitString = submitString.slice(0, -1) 
	console.log(submitString);
	document.getElementById('encryption_and_signed_keys').value = submitString; 
}
   	
	function addCryptographyADV(){
		user_select = $( "#adv_cryptography_user_select" ).val();
		key_select = $( "#adv_cryptography_key_select" ).val();
		type_select = $( "#adv_cryptography_type_select" ).val();
			
		if(!(user_select == -1 || key_select == -1 || type_select == -1)){
			const listEl = document.createElement('li');
			const buttonEl = document.createElement('button');
			const spanEl = document.createElement('span');
			const spanEl2 = document.createElement('span');
			
			listEl.classList.add("select2-selection__choice");
			
			buttonEl.setAttribute("type", "button");
			buttonEl.setAttribute("onclick", "return this.parentNode.remove();");
			buttonEl.classList.add("select2-selection__choice__remove");
			buttonEl.textContent = "×";
			
			listEl.appendChild(buttonEl);
			
			spanEl.classList.add("select2-selection__choice__display");
			spanEl.textContent = type_select;
			listEl.appendChild(spanEl);
			
			spanEl2.classList.add("select2-selection__choice__display");
			spanEl2.textContent = user_select + "." + key_select;
			listEl.appendChild(spanEl2);
			
			var listContainer = $( "#adv_cryptography_tags_list" );
			listContainer.append(listEl);
			 
			var submitString = "";
			 
			$('#adv_cryptography_tags_list li').each(function() {
				var option_all = $(this).children().map(function () {
					return $(this).text();
				}).get().join(',');

				var chars = option_all.split(',');
				
				submitString += chars[1] + "(" + chars[2] + "),"
			}) 		
		}
		
		submitString = submitString.slice(0, -1) 
		console.log(submitString);
		document.getElementById('adv_encryption_and_signed_keys').value = submitString; 
   }
   var dropboxes = document.querySelectorAll('#encryption_sign_type_select, #key_select');
   
   // Add event listener to all selected elements
   dropboxes.forEach(function(dropbox) {
      dropbox.addEventListener('change', function() {
    
         // if one of the value is selected
         var allSelectedValuesNotMinusOne = Array.from(dropboxes).some(function(db) {
         return db.value !== '-1';
         });

         // Check if all selected values are selected
         //console.log(dropboxes);
         var allSelectedValues = Array.from(dropboxes).every(function(dbb) {
            //console.log(dbb.value);
            return dbb.value !== '-1';
         });
         //console.log(allSelectedValues);
         var submitButton = document.getElementById('submitButton');
         var error_dis = document.getElementById("error-message");
         let hidden = error_dis.getAttribute("hidden");
		 //console.log(allSelectedValues);
		 //console.log(allSelectedValuesNotMinusOne);
         if(allSelectedValuesNotMinusOne && !allSelectedValues){
            error_dis.removeAttribute("hidden");
            submitButton.disabled = true;
         }
         else{
            // Enable the button
            error_dis.setAttribute("hidden", "hidden");
            submitButton.disabled = false;
         }
         
      });
   });
</script>



<div id="Incoming_Messages">
	<h2>Incoming Messages</h2>
	{% if msgs %}
		{% for msg in msgs%}
			<article id="disp-msg-{{(msg[0]).id}}" class="option media content-section" onclick="select_msg(this, {{(msg[0]).id}})">
				<div class="media-body">
					<div class="article-metadata">
						{% if msg[0].is_edited %}
							{% if msg[0].new_sender %}
								<a>New Sender: {{ msg[0].new_sender }} | </a>
							{% else %}
								<a>Sender: {{ msg[0].sender }} | </a>
							{% endif %}
							{% if msg[0].new_recipient %}
								<a>New Recipient: {{ msg[0].new_recipient }}</a>
							{% else %}
								<a>Recipient: {{ msg[0].recipient }}</a>
							{% endif %}
							<a> | Time Sent: {{ msg[0].time_sent }}</a>
							{% if msg[0].adv_created %}
								<a> | This msg was created by the adversary.</a>
							{% endif %}
							{% if msg[0].is_deleted %}
								<a> | This msg has been deleted.</a>
							{% else %}
								<a> | This msg has been edited.</a>
							{% endif %}
						{% else %}
							<a>Sender: {{ msg[0].sender }} | </a>
							<a>Recipient: {{ msg[0].recipient }}</a>
							<a> | Time Sent: {{ msg[0].time_sent }}</a>
							{% if msg[0].adv_created %}
								<a> | This message was created by the adversary.</a>
							{% endif %}
						{% endif %}	
					</div>
					{% if not msg[1] %}
						<p id="msg-content-{{msg[0].id}}" class="article-content">--CANNOT DECRYPT--</p>
					{% else %}
						{% if msg[0].is_edited %}
							<p id="msg-content-{{msg[0].id}}" class="article-content">{{ msg[0].edited_content }}</p>
						{% else %}
							<p id="msg-content-{{msg[0].id}}" class="article-content">{{ msg[0].content }}</p>
						{% endif %}
					{% endif %}
				</div>
				{% if msg[0].is_encrypted %}
					<div class="m-1 row ">
					{% if 'Warning' not in msg[0].encryption_details %}
						<div class="rounded-start d-inline col-md-auto bg-success text-dark border border-3 border-success">
						Encrypted with:</div>
						<div class="rounded-end d-inline col-md-auto border border-3 border-success">{{
						msg[0].encryption_details }}</div>
					{% elif 'but' in msg[0].encryption_details %}
						<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
						Warning:</div>
						<div class="rounded-end d-inline col-md-auto border border-3 border-warning">
						Encrypted with {{msg[0].encryption_details[9:] }}</div>
					{% else %}
						<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
						Warning:</div>
						<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{
						msg[0].encryption_details[9:] }}</div>
					{% endif %}  
					</div>
				{% elif msg[0].is_signed %}
					<div class="m-1 row ">
					{% if 'Warning' not in msg[0].signed_details %}
						<div class="rounded-start d-inline col-md-auto bg-success text-dark border border-3 border-success">
						Signed by:</div>
						<div class="rounded-end d-inline col-md-auto border border-3 border-success">{{
						msg[0].signed_details }}</div>
					{% elif 'but' in msg[0].signed_details %}
						<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
								Warning:</div>
						<div class="rounded-end d-inline col-md-auto border border-3 border-warning">
								Signed by {{msg[0].signed_details[9:] }}</div>
					{% else %}
						<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
						Warning:</div>
						<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{
						msg[0].signed_details[9:] }}</div>
					{% endif %}
					</div>
				{% endif %}
			</article>
		{% endfor %}
	{% else %}
		<legend class="border-bottom mb4">No messages</legend><br/>
	{% endif %}
</div>

<script>
function select_msg(ele, num) {
	document.getElementById('edit_form').scrollIntoView();
	$(ele).addClass("border border-5 border-info circle").siblings().removeClass("border border-5 border-primary rounded");
	
	id = "msg-content-" + num;
	console.log(id)
	const text = document.getElementById(id).innerHTML;
	console.log(text)
	document.getElementById('adv_msg_edit_form').value = text; 
	if(text == "--CANNOT DECRYPT--"){
		document.getElementById('adv_msg_edit_form').disabled = true;
	}
	else{
		document.getElementById('adv_msg_edit_form').disabled = false;
	}
	document.getElementById('msg_num').value = num; 
}

</script>

	
	<div id="edit_form" class="inactive">
	{% if msgs %}
	<h2>Edit a Message</h2>
    <div class="content-section">
        <form method="POST" action="">
            {{ adv_msg_edit_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                <label class="form-control-label" for="name">New Senders</label> <br/>
                	{{messages.user_interface(usernames,"newsenders",true)}}
                </div> <br/>
                <div class="form-group">
                <label class="form-control-label" for="name">New Recipients</label> <br/>
					{{messages.user_interface(usernames,"newrecipients",true)}}
                </div> <br/>
                <div class="form-group">
                    {{ adv_msg_edit_form.edited_content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    {% if adv_msg_edit_form.edited_content.errors %} <!-- if there are errors in the form... -->
                        {{ adv_msg_edit_form.edited_content(id="adv_msg_edit_form", class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in adv_msg_edit_form.edited_content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {% if message.edited_content %} <!-- if the message has been edited, display the edited parts-->
                        	{{ adv_msg_edit_form.edited_content(id="adv_msg_edit_form", class="form-control form-control-lg",value=message.edited_content) }}
                        {% else %} <!-- if the message hasn't been edited, display normally -->
                            {% if can_decrypt or message.adv_created %}
                            	{{ adv_msg_edit_form.edited_content(id="adv_msg_edit_form", class="form-control form-control-lg",value=message.content) }}
                            {% else %}
                            	{{ adv_msg_edit_form.edited_content(id="adv_msg_edit_form", class="form-control form-control-lg",value='--CANNOT DECRYPT --')}}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div> <br>
				<div class="form-group">
				{{ adv_msg_edit_form.encryption_and_signed_keys(id="adv_encryption_and_signed_keys", type="hidden") }} 
			 </div>
			 <br/>
		  </fieldset>
		  <div class="content-section bg-secondary">
			 <ul class="select2-selection__rendered" id="adv_cryptography_tags_list">
			 </ul>
			 <div class="row g-2 align-items-center">
				<div class="col">
				   <select id="encryption_sign_type_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example" name="encryption_type_select">
					  <option  value= "-1" selected>No Encryption/Signature</option>
					  <option value="symmetric">Symmetrically Encrypt</option>
					  <option value="asymmetric">Asymmetrically Encrypt</option>
					  <option value="signed">Sign</option>
				   </select>
				</div>
				with
				<div class="col">
				   <select id="key_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example"  name="encryption_key">
					  <option id='default_key_select' value= "-1" selected>No Key Selected</option>
					  {% set current_user_name =  current_user.username  -%}
					  {% for username in usernames %}
						 {% if current_user_name != username %}
							<option value="Shared_{{current_user_name}}_{{username}}">Shared Symmetric Key for {{current_user_name}} and {{username}} </option>
						 {% endif %}
					  {% endfor %}
					  {% for username in usernames %}
						 <option value="public_{{username}}">{{username}}'s Public Key</option>
						 {% if current_user_name == username %}
							<option value="private_{{username}}">{{username}}'s Private Key </option>
						 {% endif %}
					  {% endfor %}
				   </select>
				</div>
			 </div>
			 <div id="error-message" hidden="hidden"><p>You need to select both Keys and Encryption/Signed type</p></div>
			 <button type="button" class="btn btn-sm btn-outline-dark" onclick="addCryptographyADV()">Add Cryptography</button>
			 <br/><br/>
		  </div>
            <div class="form-group" style="margin:10px 0px;">
                <!-- previous, next, delete, and submit buttons for message editing -->
                {{ adv_msg_edit_form.delete_msg(class="btn btn-outline-info") }}
                {{ adv_msg_edit_form.submit_edits(class="btn btn-outline-info") }}
                {{ adv_msg_edit_form.send_no_change(class="btn btn-outline-info") }}
				{{ adv_msg_edit_form.msg_num(id="msg_num", type="hidden") }}
            </div>
        </form>
    </div>
	{% endif %}
	</div> 
	
    <!-- advance round button 
    <div class="content-section">
        <form method="POST" action="">
            <div class="form-group" style="margin:10px 0px;">
                {{ adv_next_round_form.advance_round(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>-->

	<div id="sent_msgs">
    {% if prev_msgs %}
    <legend class="border-bottom mb4">Sent Messages:</legend>
    {% for prev_msg in prev_msgs%} <!-- if message has content, display it and some information about it like sender and round -->
        <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/article.html -->
        {% if prev_msg[0].is_edited %} <!-- if the message has been edited, display the edited parts-->
        <article class="media content-section" {% if prev_msg[0].is_deleted %} style="background: rgb(75, 20, 20);" {% else %} style="background: rgb(20, 20, 75);" {% endif %}>
            <div class="media-body">
                <div class="article-metadata">
                {% if prev_msg[0].new_sender %}
                <a>New Sender: {{ prev_msg[0].new_sender }} | </a>
                {% else %}
                <a>Sender: {{ prev_msg[0].sender }} | </a>
                {% endif %}
                {% if prev_msg[0].new_recipient %}
                <a>New Recipient: {{ prev_msg[0].new_recipient }}</a>
                {% else %}
                <a>Recipient: {{ prev_msg[0].recipient }}</a>
                {% endif %}
                {% if prev_msg[0].adv_created %}
                <a> | This message was created by the adversary.</a>
                {% endif %}
                <a> | Time Sent: {{ prev_msg[0].time_sent }} </a>
                {% if prev_msg[0].is_deleted %}
                <a> | This message has been deleted.</a>
                {% else %}
                <a> | This message has been edited.</a>
                {% endif %}
                </div>
                {% if prev_msg[0].edited_content %}
                <p class="article-content">{{ prev_msg[0].edited_content }}</p>
                {% else %}
                <p class="article-content">{{ prev_msg[0].content }}</p>
                {% endif %}
            </div>
			{% if prev_msg[0].is_encrypted %}
			<div class="m-1 row ">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Encrypted For:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg[0].encryption_details }}</div>
			</div>
			{% endif %}
			{% if prev_msg[0].is_signed %}
			<div class="m-1 row">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed by:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg[0].signed_details }}</div>
			</div>
			{% endif %}
        </article>
        {% elif prev_msg[0].adv_created %} <!-- if the adversary created the message -->
        <article class="media content-section" style="background: rgb(20, 75, 20);">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ prev_msg[0].sender }} | </a>
                <a>Recipient: {{ prev_msg[0].recipient }}</a>
                <a> | Time Sent: {{ prev_msg[0].time_sent }} </a>
                <a> | This message was created by the adversary.</a>
                </div>
                <p class="article-content">{{ prev_msg[0].content }}</p>
            </div>
			{% if prev_msg[0].is_encrypted %}
			<div class="m-1 row ">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Encrypted For:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg[0].encryption_details }}</div>
			</div>
			{% endif %}
			{% if prev_msg[0].is_signed %}
			<div class="m-1 row">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed by:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg[0].signed_details }}</div>
			</div>
			{% endif %}
        </article>
        {% else %} <!-- if the message hasn't been edited, display normally -->
		<article class="media content-section" style="background: rgb(60, 60, 20);">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ prev_msg[0].sender }} | </a>
                <a>Recipient: {{ prev_msg[0].recipient }}</a>
                <a> | Time Sent: {{ prev_msg[0].time_sent }} </a>
				<a> | This message was not edited by the adversary.</a>
                </div>
				{% if not prev_msg[1] %}
				<p class="article-content">--CANNOT DECRYPT--</p>
				{% else %}
				<p class="article-content">{{ prev_msg[0].content }}</p>
				{% endif %}
            </div>
			{% if prev_msg[0].is_encrypted %}
			<div class="m-1 row ">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Encrypted For:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg[0].encryption_details }}</div>
			</div>
			{% endif %}
			{% if prev_msg[0].is_signed %}
			<div class="m-1 row">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed by:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg[0].signed_details }}</div>
			</div>
			{% endif %}
        </article>
			{% endif %}
    {% endfor %}
	{% else %}
	<legend class="border-bottom mb4">Sent messages log</legend>
    {% endif %}
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="advVoteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" style="color:black;" id="staticBackdropLabel">Please Vote</h5>
		  	<button id="#close" onclick="submitVote()" type="button" class="btn btn-primary">X</button>
		  </div>
		  <div class="modal-body">
			<select id="places_select" class="form-select" aria-label="Default select example">
			  <option selected>Select Location</option>
			  <option value="1">Park</option>
			  <option value="2">Alley</option>
			  <option value="3">Cafe</option>
			  <option value="4">Parking Garage</option>
			  <option value="5">Rooftop</option>
			  <option value="6">Bus stop</option>
			  <option value="7">Subway station</option>
			</select>
			
			<div class="row">
				<div class="col-sm-6">
					<select id="time_s1" class="form-select" aria-label="Default select example">
					  <option selected>Select Time</option>
					  <option value="1">1:00</option>
					  <option value="2">2:00</option>
					  <option value="3">3:00</option>
					  <option value="4">4:00</option>
					  <option value="5">5:00</option>
					  <option value="6">6:00</option>
					  <option value="7">7:00</option>
					  <option value="8">8:00</option>
					  <option value="9">9:00</option>
					  <option value="10">10:00</option>
					  <option value="11">11:00</option>
					  <option value="12">12:00</option>
					</select>
				</div>
				<div class="col-sm-6">
					<select id="time_s2" class="form-select" aria-label="Default select example">
					<option value="1">PM</option>
					<option value="2">AM</option>
					</select>
				</div>
			</div>
		  <div class="modal-footer">
			<button id="#submt_vote" onclick="submitVote()" type="button" class="btn btn-primary">Vote</button>
		  </div>
		</div>
	  </div>
	</div>
	
	
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	
		// Connect to the Socket.IO server.
        // The connection URL has the following format, relative to the current page:
        //     http[s]://<domain>:<port>[/<namespace>]
		var advVoteModal = new bootstrap.Modal(document.getElementById("advVoteModal"), {});
		
        var socket = io();
		
		socket.on('update', function() {			
			if ( document.getElementById("edit_form").classList.contains('inactive') ){
				document.getElementById("edit_form").classList.remove('inactive');
				$.get(document.URL, function(data) {
					var elem = $(data).find('#edit_form');
					 $('#edit_form').replaceWith(elem);
				});
			}
			$.get(document.URL, function(data) {
				var elem = $(data).find('#Incoming_Messages');
				 $('#Incoming_Messages').replaceWith(elem);
			});
			$.get(document.URL, function(data) {
				var elem = $(data).find('#sent_msgs');
				 $('#sent_msgs').replaceWith(elem);
			});
        });
		
		socket.on('start_vote', function() {
			advVoteModal.show();
		});
		
	});
	
	function submitVote(){
		var socket = io();
		
		place = $( "#places_select" ).find(':selected').text();
		time = $( "#time_s1" ).find(':selected').text();
		
		if(place == "Select Location" || time == "Select Time"){
			return;
		}
		$( "#staticBackdropLabel" ).text("Thank you for voting: Please Wait"); 
		$("#submt_vote").prop("disabled",true);
		
		time = time + ' ' + $( "#time_s2" ).find(':selected').text();
		
		vote = place + ' ' + time;
		
		socket.emit('cast_vote', {
		game_id: "{{game.id}}",
		vote: vote
		});

	}

	var select = document.getElementById("locations");
   var image = document.getElementById("location-image");

   select.addEventListener("change", function() {
     switch (select.value) {
        case "Park":
          image.src = "/images/park.png";
          break;
        case "Parking Garage":
          image.src = "/images/garage.png";
          break;
        case "Alley":
          image.src = "/images/alley.png";
          break;
        case "Cafe":
          image.src = "/images/cafe.png";
          break;
        case "Rooftop":
          image.src = "/images/rooftop.png";
          break;
        case "Bus Stop":
          image.src = "/images/busstop.png";
          break;
        case "Subway Station":
          image.src = "/images/subway.png";
          break;
        default:
          image.src = "/images/cafe.png";
     }
   });

	</script>

<!-- Sender can ONLY send to ONE recipients at a time -->
<!-- Refer from https://stackoverflow.com/questions/9709209/html-select-only-one-checkbox-in-a-group -->
<script>
	// For onlyOne click
	$('input[type="checkbox"]').on('change', function() {
		$('input[name="' + this.name + '"]').not(this).prop('checked', false);
	});
</script>

{% endblock content %}