<!-- 
    File: adversary_messages.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/24/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the adversary messages page
    messages.html and this file could be combined using if statements to check if the current user is an adversary
    we might want to do that in the future so that we don't have to edit two message sections in two documents
-->
{% import 'messages.j2' as messages %}

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <h1>Messages</h1>

    <!-- this part here is just copied from messages.html -->
    <div class="content-section">
        <form method="POST" action="">
            {{ msg_form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- these form groups are basically the same thing, just for each field needed for the messages -->
                <legend class="border-bottom mb4">Create a Message</legend>
                <div class="form-group">
                <label class="form-control-label" for="name">Senders</label> <br/>
                {% for username in usernames %}
                    <div class="form-check form-check-inline">
                        <!-- below line needs the ', ' in value to make processing usernames easier -->
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="senders" value="{{ username }}, ">
                        <label class="form-check-label" for="inlineCheckbox1">{{ username }}</label>
                    </div>
                {% endfor %}
                </div> <br/>
                <div class="form-group">
                <label class="form-control-label" for="name">Recipients</label> <br/>
                {% for username in usernames %}
                    <div class="form-check form-check-inline">
                        <!-- below line needs the ', ' in value to make processing usernames easier -->
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="recipients" value="{{ username }}, ">
                        <label class="form-check-label" for="inlineCheckbox1">{{ username }}</label>
                    </div>
                {% endfor %}
                </div> <br/>
                <div class="form-group">
                    {{ msg_form.content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if msg_form.content.errors %} <!-- if there are errors in the form... -->
                        {{ msg_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in msg_form.content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ msg_form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div> <br>
                <div class="form-group">
                    {{ msg_form.encryption_and_signed_keys.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if msg_form.encryption_and_signed_keys.errors %} <!-- if there are errors in the form... -->
                        {{ msg_form.encryption_and_signed_keys(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in msg_form.encryption_and_signed_keys.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ msg_form.encryption_and_signed_keys(class="form-control form-control-lg") }}
                    {% endif %}
                </div> <br>
            </fieldset>
            <div class="form-group" style="margin:10px 0px;">
                {{ msg_form.submit(value="Create Message", class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

	<div id="Incoming_Messages">
	<h2>Incoming Messages (round {{ game.current_round}})</h2>
	{% if msgs %}
	{% for msg in msgs%}
		<article id="disp-msg-{{msg.id}}" class="option media content-section" onclick="select_msg(this, {{msg.id}})">
			<div class="media-body">
				<div class="article-metadata">
				{% if msg.is_edited %}
					{% if msg.new_sender %}
					<a>New Sender: {{ msg.new_sender }} | </a>
					{% else %}
					<a>Sender: {{ msg.sender }} | </a>
					{% endif %}
					{% if msg.new_recipient %}
					<a>New Recipient: {{ msg.new_recipient }}</a>
					{% else %}
					<a>Recipient: {{ msg.recipient }}</a>
					{% endif %}
					{% if msg.adv_created %}
					<a> | This msg was created by the adversary.</a>
					{% endif %}
					{% if msg.is_deleted %}
					<a> | This msg has been deleted.</a>
					{% else %}
					<a> | This msg has been edited.</a>
					{% endif %}
				{% else %}
					<a>Sender: {{ msg.sender }} | </a>
					<a>Recipient: {{ msg.recipient }}</a>
					{% if msg.adv_created %}
					<a> | This message was created by the adversary.</a>
					{% endif %}
				{% endif %}	
				</div>
				
				{% if not can_decrypt %}
				<p id="msg-content-{{msg.id}}" class="article-content">--CANNOT DECRYPT--</p>
				{% else %}
					{% if msg.is_edited %}
					<p id="msg-content-{{msg.id}}" class="article-content">{{ msg.edited_content }}</p>
					{% else %}
					<p id="msg-content-{{msg.id}}" class="article-content">{{ msg.content }}</p>
					{% endif %}
				{% endif %}
			</div>
				{% if msg.is_encrypted %}
				<div class="m-1 row ">
					<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Encrypted For:</div>
					<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ msg.encryption_details }}</div>
				</div>
				{% endif %}
				{% if msg.is_signed %}
				<div class="m-1 row">
					<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed by:</div>
					<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ msg.signed_details }}</div>
				</div>
				{% endif %}
			</article>
	{% endfor %}
	{% else %}
	<legend class="border-bottom mb4">No messages</legend><br/>
	{% endif %}
	<script>
	function select_msg(ele, num) {
		document.getElementById('edit-form').scrollIntoView();
		$(ele).addClass("border border-5 border-info circle").siblings().removeClass("border border-5 border-primary rounded");
		
		id = "msg-content-" + num;
		console.log(id)
		text = document.getElementById(id).innerHTML;
		console.log(text)
		document.getElementById('adv_msg_edit_form').value = text; 
		document.getElementById('msg_num').value = num; 
	}
	
	</script>
	</div>
	
	<div id="edit-form" class="inactive">
	{% if msgs %}
	<h2>Edit a Message</h2>
    <div is="" class="content-section">
        <form method="POST" action="">
            {{ adv_msg_edit_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                <label class="form-control-label" for="name">New Senders</label> <br/>
                {% for username in usernames %}
                    <div class="form-check form-check-inline">
                        <!-- below line needs the ', ' in value to make processing usernames easier -->
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="new_senders" value="{{ username }}, ">
                        <label class="form-check-label" for="inlineCheckbox1">{{ username }}</label>
                    </div>
                {% endfor %}
                </div> <br/>
                <div class="form-group">
                <label class="form-control-label" for="name">New Recipients</label> <br/>
                {% for username in usernames %}
                    <div class="form-check form-check-inline">
                        <!-- below line needs the ', ' in value to make processing usernames easier -->
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="new_recipients" value="{{ username }}, ">
                        <label class="form-check-label" for="inlineCheckbox1">{{ username }}</label>
                    </div>
                {% endfor %}
                </div> <br/>
                <div class="form-group">
                    {{ adv_msg_edit_form.edited_content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if adv_msg_edit_form.edited_content.errors %} <!-- if there are errors in the form... -->
                        {{ adv_msg_edit_form.edited_content(id="adv_msg_edit_form", class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in adv_msg_edit_form.edited_content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {% if message.edited_content %} <!-- if the message has been edited, display the edited parts-->
                        {{ adv_msg_edit_form.edited_content(id="adv_msg_edit_form", class="form-control form-control-lg",value=message.edited_content) }}
                        {% else %} <!-- if the message hasn't been edited, display normally -->
                            {% if can_decrypt or message.adv_created %}
                            {{ adv_msg_edit_form.edited_content(id="adv_msg_edit_form", class="form-control form-control-lg",value=message.content) }}
                            {% else %}
                            {{ adv_msg_edit_form.edited_content(id="adv_msg_edit_form", class="form-control form-control-lg",value='--CANNOT DECRYPT --') }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ adv_msg_edit_form.encryption_and_signed_keys.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if adv_msg_edit_form.encryption_and_signed_keys.errors %} <!-- if there are errors in the form... -->
                        {{ adv_msg_edit_form.encryption_and_signed_keys(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in adv_msg_edit_form.encryption_and_signed_keys.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ adv_msg_edit_form.encryption_and_signed_keys(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group" style="margin:10px 0px;">
                <!-- previous, next, delete, and submit buttons for message editing -->
                {{ adv_msg_edit_form.delete_msg(class="btn btn-outline-info") }}
                {{ adv_msg_edit_form.submit_edits(class="btn btn-outline-info") }}
				{{ adv_msg_edit_form.msg_num(id="msg_num", type="hidden") }}
				{{ adv_msg_edit_form.send_msg(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
	{% endif %}
	</div> 
	
    <!-- advance round button -->
    <div class="content-section">
        <form method="POST" action="">
            <div class="form-group" style="margin:10px 0px;">
                {{ adv_next_round_form.advance_round(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% if prev_msgs %}
    <legend class="border-bottom mb4">Messages for previous rounds:</legend>
    {% for prev_msg in prev_msgs%} <!-- if message has content, display it and some information about it like sender and round -->
        <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/article.html -->
        {% if prev_msg[0].is_edited %} <!-- if the message has been edited, display the edited parts-->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                {% if prev_msg[0].new_sender %}
                <a>New Sender: {{ prev_msg[0].new_sender }} | </a>
                {% else %}
                <a>Sender: {{ prev_msg[0].sender }} | </a>
                {% endif %}
                {% if prev_msg[0].new_recipient %}
                <a>New Recipient: {{ prev_msg.new_recipient }}</a>
                {% else %}
                <a>Recipient: {{ prev_msg[0].recipient }}</a>
                {% endif %}
                {% if prev_msg[0].adv_created %}
                <a> | This message was created by the adversary.</a>
                {% endif %}
                {% if prev_msg[0].is_deleted %}
                <a> | This message has been deleted.</a>
                {% else %}
                <a> | This message has been edited.</a>
                {% endif %}
                </div>
                {% if prev_msg[0].edited_content %}
                <p class="article-content">{{ prev_msg[0].edited_content }}</p>
                {% else %}
                <p class="article-content">{{ prev_msg[0].content }}</p>
                {% endif %}
            </div>
        </article>
        {% elif prev_msg[0].adv_created %} <!-- if the adversary created the message -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ prev_msg[0].sender }} | </a>
                <a>Recipient: {{ prev_msg[0].recipient }}</a>
                <a> | This message was created by the adversary.</a>
                </div>
                <p class="article-content">{{ prev_msg[0].content }}</p>
            </div>
        </article>
        {% else %} <!-- if the message hasn't been edited, display normally -->
			<article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ prev_msg[0].sender }} | </a>
                <a>Recipient: {{ prev_msg[0].recipient }}</a>
                </div>
				{% if not prev_msg[1] %}
				<p class="article-content">--CANNOT DECRYPT--</p>
				{% else %}
				<p class="article-content">{{ prev_msg[0].content }}</p>
				{% endif %}
            </div>
			{% if prev_msg[0].is_encrypted %}
			<div class="m-1 row ">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Encrypted For:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg.encryption_details }}</div>
			</div>
			{% endif %}
			{% if prev_msg[0].is_signed %}
			<div class="m-1 row">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed by:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ prev_msg.signed_details }}</div>
			</div>
			{% endif %}
        </article>
			{% endif %}
    {% endfor %}
	{% else %}
	<legend class="border-bottom mb4">No previous messages</legend>
    {% endif %}
	
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// Connect to the Socket.IO server.
        // The connection URL has the following format, relative to the current page:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io();
		
		socket.on('update', function() {
			text = document.getElementById("edit-form").innerHTML;
			console.log(text);
			console.log(text == '');
			
			if ( document.getElementById("edit-form").classList.contains('inactive') ){
				document.getElementById("edit-form").classList.remove('inactive');
				$('#edit-form').load(document.URL + ' #edit-form');
			}
            $('#Incoming_Messages').load(document.URL + ' #Incoming_Messages');
        });
	});
	</script>
{% endblock content %}