<!-- 
    File: about.html
    Author: Robert Shovan /Voitheia
    Date: 6/15/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the about page
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <h1 style="text-align:center;">Location: time</h1>
	<h1 style="text-align:center;">[Location image]</h1>
	<h1 style="text-align:center;">{{result}}</h1>
	
	<h2 style="text-align:center;">other</h1>
{% endblock content %}