<!-- 
    File: home.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/15/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the home page
    this page doesn't really have anything useful for now
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// Connect to the Socket.IO server.
        // The connection URL has the following format, relative to the current page:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io();
		socket.on('ingame', function() {
            window.location.href = "{{ url_for('messages') }}";
        });
	});
</script>












{% endblock content %}