<!-- 
    File: home.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/15/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the home page
    this page doesn't really have anything useful for now
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->

<h1 style="text-align:left" >
Mission:
</h1>

<p style="text-align:left; font-family:Lucida Console, Courier New, monospace;">
    You are a malicious adversary trying to disrupt the agents' plans on when and where they will meet to exchange an essential asset. 
    To do so, you may insert, block, or modify messages sent over the network, which you control.
    You, however, cannot defeat encryption and signatures that are properly formed using keys you do not know. 
    At the end of the game session, the two agents will vote to decide a time and place to meet. 
    You will try to prevent the agents from reaching consensus on the meeting time and place.
</p>

<h1 style="text-align:left;">
Goal:
</h1>
<p style="text-align:left;">
    Do not allow the agents to agree on the time and place to meet.
</p>

<h1 style="text-align:left;">
Cryptographic Tools:
</h1>


<p style="text-align:left;">
<ul>
<li>Delete Any message.</li>
<li>Modify any Plaintext (non-encrypted) message that is not signed.</li>
<li>Send a message to any recipient pretending to be someone else.</li>
<li>Symmetric Encryption: Symmetrically Encrypt or Symmetrically decrypt any message using keys you know.</li>
<li>Asymmetric Encryption: Asymmetrically Encrypt any message using the Receiver’s Public Key, or asymmetrically decrypt any message using any Private Key you know.</li>
<li>Signature: Sign any message with any Sender’s Private Key you know; the receiver can verify the identity the sender's identity using the Sender’s Public Key.  Here, a valid signature also encrypts and guarantees message integrity (i.e., that the message has not been modified in transit).</li>
</ul>
</p>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// Connect to the Socket.IO server.
        // The connection URL has the following format, relative to the current page:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io();
		socket.on('ingame', function() {
            window.location.href = "{{ url_for('messages') }}";
        });
	});
</script>












{% endblock content %}