<!-- 
    File: messages.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/24/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the messages page
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <h1>Messages</h1>

    {% if msg_flag %} <!-- this checks if the passed message var has content in it -->
    <legend class="border-bottom mb4">Messages for round {{ game.current_round}}:</legend>
    {% for message in msgs%} <!-- if message has content, display it and some information about it like sender and round -->
        <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/article.html -->
        {% if message.is_edited %} <!-- if the message has been edited, display the edited parts-->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                {% if message.new_sender %}
                <a>Sender: {{ message.new_sender }} | </a>
                {% else %}
                <a>Sender: {{ message.sender }} | </a>
                {% endif %}
                {% if message.new_recipient %}
                <a>Recipient: {{ message.new_recipient }}</a>
                {% else %}
                <a>Recipient: {{ message.recipient }}</a>
                {% endif %}
                </div>
                {% if message.edited_content %}
                <p class="article-content">{{ message.edited_content }}</p>
                {% else %}
                <p class="article-content">{{ message.content }}</p>
                {% endif %}
            </div>
        </article>
        {% else %} <!-- if the message hasn't been edited, display normally -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ message.sender }} | </a>
                <a>Recipient: {{ message.recipient }}</a>
                </div>
                <p class="article-content">{{ message.content }}</p>
            </div>
        </article>
        {% endif %}
    {% endfor %}
    {% else %}
    <legend class="border-bottom mb4">No messages for round {{ game.current_round}}.</legend>
    {% endif %}

    <legend class="border-bottom mb4">Send a Message</legend>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- these form groups are basically the same thing, just for each field needed for the messages -->
                {# old recipient section
                <div class="form-group">
                    {{ form.recipient.label(class="form-control-label") }}

                    {% if form.recipient.errors %} <!-- if there are errors in the form... -->
                        {{ form.recipient(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.recipient.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.recipient(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                #}
                <div class="form-group">
                <label class="form-control-label" for="name">Recipients</label> <br/>
                {% for username in usernames %}
                    <div class="form-check form-check-inline">
                        <!-- below line needs the ', ' in value to make processing usernames easier -->
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="recipients" value="{{ username }}, ">
                        <label class="form-check-label" for="inlineCheckbox1">{{ username }}</label>
                    </div>
                {% endfor %}
                </div> <br/>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if form.content.errors %} <!-- if there are errors in the form... -->
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div> <br/>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% if prev_msg_flag %}
    <legend class="border-bottom mb4">Messages for previous rounds:</legend>
    {% for prev_msg in prev_msgs%} <!-- if message has content, display it and some information about it like sender and round -->
        <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/article.html -->
        {% if prev_msg.is_edited %} <!-- if the message has been edited, display the edited parts-->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                {% if prev_msg.new_sender %}
                <a>Sender: {{ prev_msg.new_sender }} | </a>
                {% else %}
                <a>Sender: {{ prev_msg.sender }} | </a>
                {% endif %}
                {% if prev_msg.new_recipient %}
                <a>Recipient: {{ prev_msg.new_recipient }} | </a>
                {% else %}
                <a>Recipient: {{ prev_msg.recipient }} | </a>
                {% endif %}
                <a>Round: {{ prev_msg.round }}</a>
                </div>
                {% if prev_msg.edited_content %}
                <p class="article-content">{{ prev_msg.edited_content }}</p>
                {% else %}
                <p class="article-content">{{ prev_msg.content }}</p>
                {% endif %}
            </div>
        </article>
        {% else %} <!-- if the message hasn't been edited, display normally -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ prev_msg.sender }} | </a>
                <a>Recipient: {{ prev_msg.recipient }}</a>
                </div>
                <p class="article-content">{{ prev_msg.content }}</p>
            </div>
        </article>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endblock content %}