<!-- 
   File: messages.html
   Author: Robert Shovan /Voitheia
   Date Created: 6/24/2021
   Last Modified: 7/6/2021
   E-mail: rshovan1@umbc.edu
   Description: html and jinja file for handling the messages page
   -->
{% import 'messages.j2' as messages %}
{% extends "layout.html" %}
<!-- this tells jinja that we are using a template -->
{% block content %}
<!-- this piece of code tells jinja where to put the html for this page in the parent template -->
<h1 class="float-start">Messages</h1>
<button id="vote_bt" style="box-shadow: none; !important" class="btn btn-primary btn-lg float-end gray-blue"
   data-bs-toggle="button" autocomplete="off">Ready to Vote</button>
<script>
   $("#vote_bt").on("click", function () {
      $(this).prop("disabled", true);

      var socket = io();
      socket.on('connect', function () {
         socket.emit('ready_to_vote', { game_id: "{{game.id}}", player: "{{current_user.username}}" });
      });
   });	
</script>

<!-- Sender can ONLY send to ONE recipients at a time -->
<!-- Refer from https://stackoverflow.com/questions/9709209/html-select-only-one-checkbox-in-a-group -->
<script>
function onlyOne(checkbox) {
   var checkboxes = document.getElementsByName('recipients')
   checkboxes.forEach((item) => {
       if (item !== checkbox) item.checked = false
   })
  }
</script>

<legend class="border-bottom mb4">Send a Message</legend>
<div class="content-section" id="body">
   <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
         <div class="form-group">
            <label class="form-control-label" for="name">To:</label> <br />
            {% set current_user_name =  current_user.username  -%}
            {% for username in usernames %}
               {% if username !=  current_user_name %}
                  <div class="form-check form-check-inline">
                  <!-- below line needs the ', ' in value to make processing usernames easier -->
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="recipients"
                     value="{{ username }}, " onclick="onlyOne(this)" >
                  {% if username == 'user1' %}
                  <img src="/images/user1.png" alt="Avatar" width="30px" height="30px">
                  {% elif username == 'user2' %}
                  <img src="/images/user2.png" alt="Avatar" width="30px" height="30px">
                  {% elif username == 'user3' %}
                  <img src="/images/user3.png" alt="Avatar" width="30px" height="30px">
                  {% elif username == 'pat' %}
                  <img src="/images/user4.png" alt="Avatar" width="30px" height="30px">
                  {% elif username == 'adv' %}
                  <img src="/images/adversary.png" alt="Avatar" width="30px" height="30px">
                  {% endif %}
                  <label class="form-check-label" for="inlineCheckbox1"> {{ username }}</label>
                  </div>
               {% endif %}
            {% endfor %}
         </div>
         <br />
         <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            <!-- i think this tells jinja to put a form box in here -->
            {{ form.meet_location (class="gray-blue",id="locations")}}
            <img id="location-image" width="250px" height="180px" src="/images/cafe.png"
               style="display:block;margin:20px;">
            {{ form.meet_time (class="gray-blue")}}
            {{ form.meet_am_pm (class="gray-blue") }}
            {% if form.content.errors %}
            <!-- if there are errors in the form... -->
            {{ form.content(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
               {% for errors in form.content.errors %}
               <span>{{ errors }}</span> <!-- display the errors -->
               {% endfor %}
            </div>
            {% else %}
            <!-- if there aren't errors, just display normally -->
            {{ form.content(class="form-control form-control-lg", style="margin:10px;", placeholder="Enter your message here") }}
            {% endif %}
<!--            {{ form.encryption_type(class="gray-blue") }}-->
         </div>
      </fieldset>
         <div class="content-section">
            <ul class="select2-selection__rendered" id="cryptography_tags_list">
            </ul>
            <p>Encrypt or Sign Message:</p>
            
            <div class="row g-2 align-items-center">
               <div class="col">
                  <select id="encryption_sign_type_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                     <option  value= "-1" selected>No Encryption/Signature</option>
                     <option value="symmetric">Symmetrically Encrypt</option>
                     <option value="asymmetric">Asymmetrically Encrypt</option>
                     <option value="signed">Sign</option>
                  </select>
               </div>
               with
               <div class="col">
                  <select id="key_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                     <option id='default_key_select' value= "-1" selected>No Key Selected</option>
                     {% set current_user_name =  current_user.username  -%}
                     {% for username in usernames %}
                        {% if current_user_name != username %}
                           <option value="Shared_{{current_user_name}}_{{username}}">Shared Symmetric Key for {{current_user_name}} and {{username}} </option>
                        {% endif %}
                     {% endfor %}
                     {% for username in usernames %}
                        <option value="public_{{username}}">{{username}}'s Public Key</option>
                        {% if current_user_name == username %}
                           <option value="private_{{username}}">{{username}}'s Private Key </option>
                        {% endif %}
                     {% endfor %}
                  </select>
               </div>
            </div>
            <!-- <div class="row g-3 align-items-center">
               <div class="col">
                  <select id="encryption_type_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example" name="encryption_type_select">
                     <option value= "-1" selected>No Encryption</option>
                     <option value="symmetric">Symmetric Encryption</option>
                     <option value="asymmetric">Asymmetric Encryption</option>
                  </select>
               </div>
               <div class="col">
                  <select id="encryption_user_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                     <option value= "-1" selected>User</option>
                     {% for username in usernames %}
                     <option value="{{ username }}">{{ username }}</option>
                     {% endfor %}
                  </select>
               </div>
               <div class="col">
                  <select id="encryption_key_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                     <option value= "-1" selected>Key Type</option>
                     <option value="public">Public</option>
                     <option value="private">Private</option>
                     <option value="key pair">Key pair</option>
                  </select>
               </div>
            </div>

            <div class="row g-3 align-items-center">
               <div class="col">
                  <select id="signature_type_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                     <option value= "-1" selected>No Signature</option>
                     <option value="signed">Signed</option>
                  </select>
               </div>
               <div class="col">
                  <select id="signature_user_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                     <option value= "-1" selected>User</option>
                     {% for username in usernames %}
                     <option value="{{ username }}">{{ username }}</option>
                     {% endfor %}
                  </select>
               </div>
               <div class="col">
                  <select id="signature_key_select" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                     <option value= "-1" selected>Key Type</option>
                     <option value="public">Public</option>
                     <option value="private">Private</option>
                  </select>
               </div>

            </div> -->
      </div>
      <div id="error-message" hidden="hidden"><p>You need to select both Keys and Encryption/Signed type</p></div>
      <div class="form-group">
         {{ form.submit(class="btn btn-outline-info", onclick="addCryptography()", id="submitButton") }}
      </div>
   </form>
</div>

<div class="row">
   <div id="Received" class="col">
      {% if msg_flag %} <!-- this checks if the passed message var has content in it -->
      <legend class="border-bottom mb4">Received messages:</legend>
      {{ messages.print_msgs(msgs,usernames) }}
      {% else %}
      <legend class="border-bottom mb4">No messages</legend>
      {% endif %}
   </div>



   <div id="Sent" class="col">
      {% if sent_msgs %}
      <legend class="border-bottom mb4">Messages sent by you:</legend>
      {% for sent_msg in sent_msgs %}
      {% if not sent_msg.adv_created %}
      <article class="media content-section">
         <div class="media-body">
            <div class="article-metadata">
               <a>Sender: {{ sent_msg.sender }} | </a>
               <a>Recipient: {{ sent_msg.recipient }}</a>
               <a> | Time Sent: {{ sent_msg.time_sent }} </a>
            </div>
            {% if (sent_msg.initial_encryption_details != "invalid encrypted key" or sent_msg.initial_signed_details !=
            "invalid sign key" or sent_msg.initial_asymmetric_details != "invalid asymmetric key") %}
            <div id="content">
               <p style="margin: 0; display:inline; color:#0dcaf0;">@{{ sent_msg.location_meet }} {{
                  sent_msg.time_meet}}{{ sent_msg.time_am_pm }}</p>
               {% if sent_msg.initial_encryption_details != "invalid encrypted key" %}
                  {% if sent_msg.initial_is_encrypted %}
                  <p class="article-content"> #######################</p>
                  {% else %}
                  <p class="article-content">{{ sent_msg.content }}</p>
                  {% endif %}
               {% elif sent_msg.initial_signed_details != "invalid sign key" %}
                  {% if sent_msg.initial_is_signed %}
                  <p class="article-content">#######################</p>
                  {% else %}
                  <p class="article-content">{{ sent_msg.content }}</p>
                  {% endif %}
               {% else %}
                  <p class="article-content">hg</p>
               {% endif %}
            </div>
            {% endif %}

            {% if sent_msg.initial_is_encrypted %}
            <div class="m-1 row ">
               <div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
                  Encrypted For:</div>
               <div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{
                  sent_msg.initial_encryption_details }}</div>
            </div>
            {% endif %}
            {% if sent_msg.initial_is_signed %}
            <div class="m-1 row">
               <div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
                  Signed by:</div>
               <div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{
                  sent_msg.initial_signed_details }}</div>
            </div>
            {% endif %}
      </article>
      {% endif %}
      {% endfor %}
      {% else %}
      <legend class="border-bottom mb4">No messages sent</legend>
      {% endif %}
   </div>

   
<script>

   // This script will limit the permission of certain key
   const encryptionTypeSelect = document.getElementById("encryption_sign_type_select");
   const encryptionKeySelect = document.getElementById("key_select");

   encryptionTypeSelect.addEventListener("change", () => {
   if (encryptionTypeSelect.value === "-1") {
      encryptionKeySelect.value = "-1";
   }
   });

   // Get the current user's username from the backend
   var current_user_username = "{{ current_user.username }}";

   // Select the dropdowns for the encryption and signature keys
   var key_select = document.getElementById("key_select");
   var encryption_type_select = document.getElementById("encryption_sign_type_select");
   var default_key = document.getElementById("default_key_select");
   // Listen for changes in the encryption user dropdown
   encryption_type_select.addEventListener("change", function() {
      // Get the selected user from the dropdown
      let all_options = key_select.querySelectorAll('option');
      var encrytion_type =  encryption_type_select.value;
      if (encrytion_type === 'symmetric') {
         all_options.forEach((single_option) => {
            single_option.disabled = true;
         });
         let shared = key_select.querySelectorAll('option[value^=Shared]');
         shared.forEach((userItem) => {
            userItem.disabled = false;
         });
         default_key.disabled = false
      }
      else if(encrytion_type === 'asymmetric' || encrytion_type === 'signed' ){
         all_options.forEach((single_option) => {
            single_option.disabled = false;
         });
         let shared = key_select.querySelectorAll('option[value^=Shared]');
         shared.forEach((userItem) => {
            userItem.disabled = true;
         });
      }
      else{
         all_options.forEach((single_option) => {
            single_option.disabled = true;
         });
      }  

   });

   </script>

   <script>
      function special_chars(length) {
         var chars = "!#$%&'()*+,-./:;<=>?@[\\]^_`{|}~";
         var result = "";
         for (var i = 0; i < length; i++) {
            result += chars.charAt(Math.floor(Math.random() * chars.length));
         }
         return result;
      }
   </script>

</div>

<a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>

<script>
   $(document).ready(function () {
      $(window).scroll(function () {
         if ($(this).scrollTop() > 20) {
            $('#toTopBtn').fadeIn();
         } else {
            $('#toTopBtn').fadeOut();
         }
      });

      $('#toTopBtn').click(function () {
         document.body.scrollTop = 0; // For Safari
         document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      });
   });

   function endGame() {


   }

</script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog" id="dialog-box">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" style="color:darkgray" id="staticBackdropLabel">Please vote</h5>
            <button id="close-button" class="btn btn-danger">X</button>
         </div>
         <div class="modal-body">
            <img id="displayedImage" src="/images/cafe.png" width="450px" height="200px" alt="Image description">
            <select id="places_select" class="form-select" aria-label="Default select example">
               <option selected>Select Location</option>
               <option value="park">Park</option>
               <option value="alley">Alley</option>
               <option value="cafe">Cafe</option>
               <option value="garage">Parking Garage</option>
               <option value="rooftop">Rooftop</option>
               <option value="busstop">Bus stop</option>
               <option value="subway">Subway station</option>
            </select>
            <br>
            <div class="row">
               <div class="col-sm-6">
                  <select id="time_s1" class="form-select" aria-label="Default select example">
                     <option selected>Select Time</option>
                     <option value="1">1:00</option>
                     <option value="2">2:00</option>
                     <option value="3">3:00</option>
                     <option value="4">4:00</option>
                     <option value="5">5:00</option>
                     <option value="6">6:00</option>
                     <option value="7">7:00</option>
                     <option value="8">8:00</option>
                     <option value="9">9:00</option>
                     <option value="10">10:00</option>
                     <option value="11">11:00</option>
                     <option value="12">12:00</option>
                  </select>
               </div>
               <div class="col-sm-6">
                  <select id="time_s2" class="form-select" aria-label="Default select example">
                     <option value="1">PM</option>
                     <option value="2">AM</option>
                  </select>
               </div>
            </div>
            <div class="modal-footer">
               <button id="#submt_vote" onclick="submitVote()" type="button" class="btn btn-primary">Vote</button>
            </div>
         </div>
      </div>
   </div>


   <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
         document.getElementById('encryption_and_signed_keys').value = "";
         var myModal = new bootstrap.Modal(document.getElementById("staticBackdrop"), {});
         // Connect to the Socket.IO server.
         // The connection URL has the following format, relative to the current page:
         //     http[s]://<domain>:<port>[/<namespace>]
         var socket = io();
         socket.on('update', function () {
            $.get(document.URL, function (data) {
               var elem = $(data).find('#Received');
               $('#Received').replaceWith(elem);
            });
            $.get(document.URL, function (data) {
               var elem = $(data).find('#Sent');
               $('#Sent').replaceWith(elem);
            });
         });

         socket.on('start_vote', function () {
            myModal.show();
         });

      });

   function submitVote() {
      var socket = io();
      place = $("#places_select").find(':selected').text();
      time = $("#time_s1").find(':selected').text();

      if (place == "Select Location" || time == "Select Time") {
         return;
      }
      $("#submt_vote").prop("disabled", true);
      time = time + ' ' + $("#time_s2").find(':selected').text();
      vote = place + ' ' + time;

      socket.emit('cast_vote', {
         game_id: "{{game.id}}",
         vote: vote
      });
      socket.on('return_result', function (msg) {
         switch (msg) {
            case "PlayerWin":
               $("#staticBackdropLabel").text("You won. The players successfully met in a safe location!");
               break;
            case "PlayerLose":
               $("#staticBackdropLabel").text("You Lost. The Adversary was able to thwart the player's meeting.");
               break;
            default: $("#staticBackdropLabel").text("Thank you for voting: Please Wait");
         }
      });
   }

   // START: This part is for controlling sned message button
   // encryption type  keys need to be selcted if encrytion/signature to be selcted
   var dropboxes = document.querySelectorAll('#encryption_sign_type_select, #key_select');
   
   // Add event listener to all selected elements
   dropboxes.forEach(function(dropbox) {
      dropbox.addEventListener('change', function() {
    
         // if one of the value is selected
         var allSelectedValuesNotMinusOne = Array.from(dropboxes).some(function(db) {
         return db.value !== '-1';
         });

         // Check if all selected values are selected
         //console.log(dropboxes);
         var allSelectedValues = Array.from(dropboxes).every(function(dbb) {
            //console.log(dbb.value);
            return dbb.value !== '-1';
         });
         //console.log(allSelectedValues);
         var submitButton = document.getElementById('submitButton');
         var error_dis = document.getElementById("error-message");
         let hidden = error_dis.getAttribute("hidden");
         if(allSelectedValuesNotMinusOne && !allSelectedValues){
            // Disable the button
            error_dis.removeAttribute("hidden");
            submitButton.disabled = true;
         }
         else{
            // Enable the button
            error_dis.setAttribute("hidden", "hidden");
            submitButton.disabled = false;
         }
         
      });
   });

   function addCryptography(){

      var dropboxes = document.querySelectorAll('#encryption_sign_type_select, #key_select');
      var submitString = "";
      key_select = $( "#key_select" ).val();
      type_select = $( "encryption_sign_type_select" ).val();


      var allSelectedValues = Array.from(dropboxes).every(function(db) {
      return db.value !== '-1';
      });

      if(allSelectedValues)
      {
         //console.log("doneeeee");
         const listEl = document.createElement('li');
         const buttonEl = document.createElement('button');
         const spanEl = document.createElement('span');
         const spanEl2 = document.createElement('span');

         listEl.classList.add("select2-selection__choice");

         buttonEl.setAttribute("type", "button");
         buttonEl.setAttribute("onclick", "return this.parentNode.remove();");
         //console.log(this.parentNode);

         buttonEl.classList.add("select2-selection__choice__remove");
         buttonEl.textContent = "×";

         listEl.appendChild(buttonEl);

         spanEl.classList.add("select2-selection__choice__display");
         spanEl.textContent = encryption_type_select;
         listEl.appendChild(spanEl);

         spanEl2.classList.add("select2-selection__choice__display");
         spanEl2.textContent = encryption_user_select + "." + encryption_key_select;
         listEl.appendChild(spanEl2);

         var listContainer = $( "#cryptography_tags_list" );
         listContainer.append(listEl);

         $('#cryptography_tags_list li').each(function() {
            var option_all = $(this).children().map(function () {
                  return $(this).text();
            }).get().join(',');

            var chars = option_all.split(',');

            submitString += chars[1] + "(" + chars[2] + "),"
         })

         submitString = submitString.slice(0, -1);
         console.log(submitString);
         document.getElementById('encryption_and_signed_keys').value = submitString;
         //console.log(encryption_and_signed_keys.value);
      }
   }  

   // START - This is for set color of username
   function setRandomColor(obj, color) {
      obj.css("color", color);
   }

   function generatePastelColor() {
      let R = Math.floor((Math.random() * 127) + 127);
      let G = Math.floor((Math.random() * 127) + 127);
      let B = Math.floor((Math.random() * 127) + 127);

      let rgb = (R << 16) + (G << 8) + B;
      return `#${rgb.toString(16)}`;
   }

   let usernames = $(".form-check-label")

   // randomizes colors in recipient list
   for (let name = 0; name < usernames.length; name++) {
      setRandomColor($(usernames[name]), generatePastelColor())
   }
   // END - This is for set color of username

   function content(message) {
      let h = $("#content");
      //console.log(this.sent_msg)
   }
   content(0)

   var dropdown = document.getElementById("places_select");
   var displayedImage = document.getElementById("displayedImage");

   dropdown.addEventListener("change", function () {
      var selectedOption = dropdown.options[dropdown.selectedIndex].value;
      displayedImage.src = "/images/" + selectedOption + ".png";
   });

   var dialogBox = document.getElementById("dialog-box");
   var closeButton = document.getElementById("close-button");
   var body = document.getElementById("body");

   closeButton.addEventListener("click", function () {
      dialogBox.style.display = "none";
      location.reload();
   });


   var select = document.getElementById("locations");
   var image = document.getElementById("location-image");

   select.addEventListener("change", function () {
      switch (select.value) {
         case "Park":
            image.src = "/images/park.png";
            break;
         case "Parking Garage":
            image.src = "/images/garage.png";
            break;
         case "Alley":
            image.src = "/images/alley.png";
            break;
         case "Cafe":
            image.src = "/images/cafe.png";
            break;
         case "Rooftop":
            image.src = "/images/rooftop.png";
            break;
         case "Bus Stop":
            image.src = "/images/busstop.png";
            break;
         case "Subway Station":
            image.src = "/images/subway.png";
            break;
         default:
            image.src = "/images/cafe.png";
      }
   });
   </script>

   {% endblock content %}