<!-- 
   File: messages.html
   Author: Robert Shovan /Voitheia
   Date Created: 6/24/2021
   Last Modified: 7/6/2021
   E-mail: rshovan1@umbc.edu
   Description: html and jinja file for handling the messages page
   -->
{% import 'messages.j2' as messages %}
{% extends "layout.html" %}
<!-- this tells jinja that we are using a template -->
{% block content %}
<!-- this piece of code tells jinja where to put the html for this page in the parent template -->
<h1 class="float-start" style="color: black; font-weight: bold; text-shadow: 2px 2px 2px rgb(250, 236, 33); padding-left: 0.4in">Messages</h1>
<button id="vote_bt-{{current_user.username}}" style="box-shadow: none; font-size: 20px; padding: 13px !important" class="btn btn-primary btn-lg float-end gray-blue"
   data-bs-toggle="button" autocomplete="off">Ready to Vote</button>
<script>
   $("#vote_bt-{{current_user.username}}").on("click", function () {
      var socket = io();
      socket.on('connect', function () {
         socket.emit('ready_to_vote', { game_id: "{{game.id}}", player: "{{current_user.username}}" });
      });
   });	
</script>

<!-- Sender can ONLY send to ONE recipients at a time -->
<!-- Refer from https://stackoverflow.com/questions/9709209/html-select-only-one-checkbox-in-a-group -->
<!-- <script>
function onlyOne(checkbox) {
   var checkboxes = document.getElementsByName('recipients')
   checkboxes.forEach((item) => {
       if (item !== checkbox) item.checked = false
   })
  }
</script>         -->

<div class="tab">
      <button class="tablinks" name="{{other_names[0]}}" style="
      background-color: #000000;
      color: rgb(255, 255, 255);
      font-size: 20px;
      border-color:rgb(201, 191, 12);
      border-radius: 5px;
      padding: 5px;
      padding-left: 10px; padding-right: 10px;
      border-style:solid; border-width: 2px; margin-left: 80px; " onclick="openUser(event, '{{other_names[0]}}')">{{other_names[0]}}</button>
      <button class="tablinks" name="{{other_names[1]}}" style=" 
      background-color: #000000;
      color: rgb(255, 255, 255);
      font-size: 20px;
      border-color:rgb(201, 191, 12);
      border-radius: 5px;
      padding: 5px;
      padding-left: 10px; padding-right: 10px;
      border-style:solid; border-width: 2px; margin-top: 30px;" onclick="openUser(event, '{{other_names[1]}}')">{{other_names[1]}}</button>
      <button  style= "background-color: #000000;
		color: rgb(255, 255, 255);
		font-size: 20px;
		border-color:rgb(201, 191, 12);
		border-radius: 5px;
		padding: 5px;
		padding-left: 10px; padding-right: 10px;
		border-style:solid; border-width: 2px; margin-top: 30px;" onclick="Refresh()"><span class=reload>&#x21bb;</span></button>
</div>

   <!-- Tab content -->
{% for index in range(other_names|length) %}
   {% set name = other_names[index] %}
   {% set form = forms[name]%}
   <div id="{{name}}" class="tabcontent">
      <form method="POST" action="/messages" id="form_{{name}}">
         {{ form.hidden_tag() }}
      <fieldset class="form-group">
         <div class="row">
            <div class="column" 
            style="background-color: rgb(0, 0, 0); color: #fff9f9; border-style: solid; border-color: rgb(201, 191, 12); padding: 0.5cm; width: 60%; height: 500px; overflow-y: auto; overflow-x: auto; margin-top: 30px; border-radius: 25px; scrollbar-gutter: stable;">
               <style>
               /* width */
               ::-webkit-scrollbar {
               width: 10px;
               }
               
               /* Track */
               ::-webkit-scrollbar-track {
               box-shadow: inset 0 0 5px grey; 
               border-radius: 7px;
               }
               
               /* Handle */
               ::-webkit-scrollbar-thumb {
               background: rgb(194, 191, 122); 
               border-radius: 10px;
               }
               
               /* Handle on hover */
               ::-webkit-scrollbar-thumb:hover {
               background: #52502d; 
               }
               ::-webkit-scrollbar-corner {
                  background:rgb(0, 0, 0);
                  border-radius: 7px;

               }
            </style>
            {% set profile = image_url[index] %}
            <h2>{{name}} <img src="{{profile}}" alt="profile_img"  style ="width: 60px; height: 60px; object-fit: cover; border-radius: 50%; margin-right: 10px; background-color: #0dcaf0;" /> </h2>
            <!-- Msg can be displayed-->
            {% if msgs_flag[index] %}
               {% for message in msgs_tuple[index] %}
                  <!-- left recieved-->
                  {% if message[3] %} 
                     {% set leftmargin = 5 %}
                  <!-- right send-->
                  {% else %}
                     {% set leftmargin = 480 %}
                  {%  endif %}
                  <div class="chatbox" style="width: 220px; height: auto; margin-left:{{ leftmargin }}px; margin-top: 5px; font-size: 12px">
                     <p>{{ message[2]}}</p>
                     <div class="content" style="background-color: #333333; color: white; font-size: 15px;
                     border-color:#0dcaf0;
                     border-radius: 10px;
                     padding: 5px;
                     border-width: 2px; border: thick double #0dcaf0; width: 250px; height: auto;  word-wrap: break-word;">
                      <!-- can decrypt and is recieved -->
                     {% if message[3] %}
                        {% if message[0].edited_is_cyptographic != 0 %}
                           {% if message[0].is_decryptable_user %}
                              {% if message[0].has_been_decrypted_user %}
                                 {% if message[0].location_meet != "Locations"  and  message[0].time_meet != "Time" %}
                                    <p style="color: #0dcaf0">{{ message[0].location_meet }} @ {{message[0].time_meet}}{{message[0].time_am_pm}}</p>
                                 {% endif %}
                                 <p class="article-content">{{ message[0].edited_content }}</p>
                              {% else %}
                                 <div id="decryption-{{ message[0].id }}-{{ message[0].edited_recipient }}" class="row g-2 align-items-center" data-group="decrypt_options" >
                              <div class="col">
                                 <select id="decryption_type_select-{{message[0].id}}"  class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example" name="decryption_type_select-{{message[0].id}}">
                                    <option value= "-1" selected>No Decryption/Verification of Signature</option>
                                    <option value="symmetric">Symmetrically Decrypt</option>
                                    <option value="asymmetric">Asymmetrically Decrypt</option>
                                    <option value="signed">Verify Signature</option>
                                 </select>
                              </div>
                              <!-- <p style="color:white">with</p> -->
                              <div class="col">
                                 <select id="decryption_key_select-{{ message[0].id }}"  class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                                    <option value= "-1" selected id="default_key_select-{{ message[0].id }}">No Key Selected</option>
                                    {% set current_user_name = current_user.username -%}
                                    {% for username,_ in usernames %}
                                       {% if current_user_name != username %}
                                       <option value="Shared_{{current_user_name}}_{{username}}">Shared Symmetric Key for {{current_user_name}} and {{username}} </option>
                                       {% endif %}
                                    {% endfor %}
                                    {% for username,_ in usernames %}
                                       <option value="public_{{username}}">{{username}}'s Public Key</option>
                                       {% if current_user_name == username %}
                                       <option value="private_{{username}}">{{username}}'s Private Key </option>
                                       {% endif %}
                                    {% endfor %}
                                 </select>
                              </div>
                                 </div>
                                 <button id="decrypt-{{message[0].id}}-{{message[0].edited_sender}}-{{message[0].edited_recipient}}-{{message[0].edited_encryption_type}}-{{message[0].edited_key}}" class="btn btn-secondary decrypt-button" onclick="decrypt(this.id)">Decrypt</button> 
                              {% endif %}
                           {% else %}
                              <p class="article-content">--CANNOT DECRYPT--</p>
                           {% endif %}
                        {% else %}
                           {% if message[0].location_meet != "Locations"  and  message[0].time_meet != "Time" %}
                              <p style="color: #0dcaf0">{{ message[0].location_meet }} @ {{message[0].time_meet}}{{message[0].time_am_pm}}</p>
                           {% endif %}
                           <p class="article-content">{{ message[0].edited_content }}</p>
                        {% endif %}
                     {% else %}
                           {% if message[0].location_meet != "Locations"  and  message[0].time_meet != "Time" %}
                              <p style="color: #0dcaf0">{{ message[0].location_meet }} @ {{message[0].time_meet}}{{message[0].time_am_pm}}</p>
                           {% endif %} 
                        <p class="article-content">{{ message[0].initial_content }}</p>
                     {% endif %}
                     </div>
                  {% if not message[3] %}
                     {% set is_cyptographic = message[0].initial_is_cyptographic %}
                     {% set encryption_type = message[0].initial_encryption_type %}
                     {% set encryption_key = message[0].initial_key %}
                     {% set help_message = message[0].initial_help_message %}
                  {% else %} 
                     {% set is_cyptographic = message[0].edited_is_cyptographic %}
                     {% set encryption_type = message[0].edited_encryption_type %}
                     {% set encryption_key = message[0].edited_key %}
                     {% set help_message = message[0].edited_help_message %}
                  {% endif %}
                  {% if is_cyptographic != 0 %}
                     {% if 'Warning' not in help_message %} 
                        {% set isBorderSucess = "success" %}
                     {% else %}
                        {% set isBorderSucess = "warning" %}
                     {%  endif %}
                     <div class="m-1 row ">
                        {% if encryption_type == 'symmetric' %}
                        <div class="rounded-start d-inline col-md-auto bg-{{ isBorderSucess }} text-dark border border-3 border-{{ isBorderSucess }}">
                           SE <span title="Symmetrically Encrypted with">&#9432;</span>:</div>
                        {% elif encryption_type == 'asymmetric' %}
                           <div class="rounded-start d-inline col-md-auto bg-{{ isBorderSucess }} text-dark border border-3 border-{{ isBorderSucess }}">
                           AE <span title="Asymmetrically Encrypted with">&#9432;</span>:</div>
                        {% elif encryption_type == 'signed' %}
                           <div class="rounded-start d-inline col-md-auto bg-{{ isBorderSucess }} text-dark border border-3 border-{{ isBorderSucess }}">
                              Signed by:</div>
                        {% endif %}
                        <div class="rounded-end d-inline col-md-auto border border-3 border-{{ isBorderSucess }}">{{
                           encryption_key }} <span title="{{ help_message}}">&#9432;</span></div>
                     </div>
                  {% endif %}
            </div>
               {% endfor %}
            {% endif %}

            <!-- <hr class="rounded" style="border: thick double ; background-color: rgb(201, 191, 12); margin-top: 500px;">
            {% set  id_content= "content_" + name %}
            {{ form.content(class="form-control form-control-lg", style="margin:10px;", placeholder="Enter your message here",id=id_content) }}
            
            <div class="form-group" id="{{name}}_form">
               {% set  id_button= "button_" + name %}
               {% set  id_button_form= "Send Message to " + name %}
               {{ form.submit(class="btn btn-outline-info",id=id_button,value=id_button_form) }}
            </div> -->     
         </div>
         <div class="column" style="background-color: #000000; color: #fff9f9; border-style: solid; border-color: rgb(201, 191, 12); padding: 0.5cm; width: 40%; height: 678px; overflow-y: auto; overflow-x: auto; margin-top: 30px; border-radius: 25px;">
            <h2>{{name}}</h2>
            </br>
            {% set  id_loc= "locations_" + name %}
            {% set  id_time= "time_" + name %}
            {% set  id_am= "am_" + name %}
            <div class="form-group" id="{{name}}_form_2">
               {{ form.content.label(class="form-control-label") }}
               <!-- i think this tells jinja to put a form box in here -->
               {{ form.meet_location (class="gray-blue",id=id_loc)}}
               <img id="location-image_{{ name }}" width="300px" height="180px" src="/images/Arts/Locations/Cafe_new.png"
                  style="display:block;margin:20px;">
               {{ form.meet_time (class="gray-blue",id=id_time)}}
               {{ form.meet_am_pm (class="gray-blue",id=id_am) }}
            </div>
            <div id="encryption-panel" class="content-section bg-dark" style="color: #0dcaf0; width: auto; margin-top: 20px">
               <ul class="select2-selection__rendered" id="cryptography_tags_list_{{ name }}"></ul>
               <p style="font-size: 20px; font-weight: bold; font-size: 15px">Encrypt or Sign Message:  </p> <br>
               <p style="color:aliceblue; text-shadow: 2px 2px 2px #0dcaf0; font-size: medium;">Cryptographic Operation</p>

               <div class="row g-2 align-items-center">
                  <div class="col" style="width:230px; float:left">
                     <select id="encryption_sign_type_select_{{ name }}" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example" name="encryption_type_select" style="width: 230px"  >
                        <option value="-1" selected>No Encryption/Signature</option>
                        <option value="symmetric">Symmetrically Encrypt</option>
                        <option value="asymmetric">Asymmetrically Encrypt</option>
                        <option value="signed">Sign</option>
                     </select>

                  </div>
                  <div style="color: #0dcaf0; font-size: large; width: 100px; float: right; margin-right: 60px;">with</div> 


         <div class="col">
            <p style="color:aliceblue; text-shadow: 2px 2px 2px #0dcaf0; font-size: medium;">Key Options</p>
            <select id="key_select_{{ name }}" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example" name="encryption_key" style="width:400px;">
               <option id='default_key_select_{{ name }}' value="-1" selected>No Key Selected</option>
               {% set current_user_name =  current_user.username  -%}
               {% for username,_ in usernames %}
               {% if current_user_name != username %}
               <option value="Shared_{{current_user_name}}_{{username}}">Shared Symmetric Key for {{current_user_name}} and {{username}}</option>
               {% endif %}
               {% endfor %}
               {% for username,_ in usernames %}
               <option value="public_{{username}}">{{username}}'s Public Key</option>
               {% if current_user_name == username %}
               <option value="private_{{username}}">{{username}}'s Private Key</option>
               {% endif %}
               {% endfor %}
               </select>
            </div>
      </div>
      <div id="error-message_{{name}}" hidden="hidden"><p>You need to select both Keys and Encryption/Signed type</p></div>
            </div>
         </div>   

         <div style="background-color: #000000;  border-style: solid; border-color: rgb(201, 191, 12); height: auto; border-radius: 25px; margin-top:-180px; padding-left: 20px; padding-right:20px; width: 778px" >
            <div style="width: 735px; float: left; color: #fff9f9;">
            {% set  id_content= "content_" + name %}
            {{ form.content(class="form-control form-control-lg", placeholder="Enter your message here",id=id_content) }}
            </div>
            <div class="form-group" id="{{name}}_form" style="width: 675px; float: right; margin-right: 80px">
               {% set  id_button= "button_" + name %}
               {% set  id_button_form= "Send Message to " + name %}
               {{ form.submit(class="btn btn-outline-info",id=id_button,value=id_button_form) }}
            </div>
         </div>
   <!-- <div id="error-message_{{ name }}" hidden="hidden"><p>You need to select both Keys and Encryption/Signed type</p></div> -->
   {% if form.content.errors %}
      <div class="invalid-feedback">
         {% for errors in form.content.errors %}
            {{ errors }} <!-- display the errors -->
         {% endfor %}
         {% endif %}
      </div>
   <br>
   </fieldset>
   </form>
</div>
{% endfor %}

<script>
   // Add an event listener to simulate a click on "User 2" tab when the page loads
   window.addEventListener('load', function () {
      var activeTab = sessionStorage.getItem('activeTab');
      console.log("Active Tab:", activeTab)
            // If there is an active tab, simulate a click on it
            if (activeTab) {
               var selector = '[name="' + activeTab + '"]';
               console.log(selector);
               var selection = document.querySelector(selector);
               if (selection){
                  selection.click();
               }else{
                  document.querySelector(".tablinks:first-child").click();
               }   
            } else {
                // Otherwise, click the first tab by default
               document.querySelector(".tablinks:first-child").click();
            }
   });

   function openUser(evt, user) {
      // Declare variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
         tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
         tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab and add an "active" class to the button that opened the tab
      document.getElementById(user).style.display = "block";
      evt.currentTarget.className += " active";
      // Save the active tab in sessionStorage
      sessionStorage.setItem('activeTab', user);
   }
   
</script>
      
<script>
   const encryptionTypeSelect = document.getElementById("encryption_sign_type_select_{{other_names[0]}}");
   const encryptionKeySelect = document.getElementById("key_select_{{other_names[0]}}");
   const defaultKeySelect = document.getElementById("default_key_select_{{other_names[0]}}");

   encryptionTypeSelect.addEventListener("change", () => {
      if (encryptionTypeSelect.value === "-1") {
         encryptionKeySelect.value = "-1";
      }
   });

   var current_user_username = "{{ other_names[0] }}";
   var key_select = document.getElementById("key_select_{{other_names[0]}}");
   var encryption_type_select = document.getElementById("encryption_sign_type_select_{{other_names[0]}}");
   var default_key = document.getElementById("default_key_select_{{other_names[0]}}");

   encryption_type_select.addEventListener("change", function () {
      let all_options = key_select.querySelectorAll('option');
      var encryption_type = encryption_type_select.value;

      if (encryption_type === 'symmetric') {
         all_options.forEach((single_option) => {
            single_option.disabled = true;
         });
         let shared = key_select.querySelectorAll('option[value^=Shared]');
         shared.forEach((userItem) => {
            userItem.disabled = false;
         });
         default_key.disabled = false;
      } else if (encryption_type === 'asymmetric' || encryption_type === 'signed') {
         all_options.forEach((single_option) => {
            single_option.disabled = false;
         });
         let shared = key_select.querySelectorAll('option[value^=Shared]');
         shared.forEach((userItem) => {
            userItem.disabled = true;
         });
      } else {
         all_options.forEach((single_option) => {
            single_option.disabled = true;
         });
      }
   });

</script>
<script>
   const encryptionTypeSelect1 = document.getElementById("encryption_sign_type_select_{{other_names[1]}}");
   const encryptionKeySelect1 = document.getElementById("key_select_{{other_names[1]}}");
   const defaultKeySelect1 = document.getElementById("default_key_select_{{other_names[1]}}");

   encryptionTypeSelect1.addEventListener("change", () => {
      if (encryptionTypeSelect1.value === "-1") {
         encryptionKeySelect1.value = "-1";
      }
   });

   var current_user_username1 = "{{ other_names[1] }}";
   var key_select1 = document.getElementById("key_select_{{other_names[1]}}");
   var encryption_type_select1 = document.getElementById("encryption_sign_type_select_{{other_names[1]}}");
   var default_key1 = document.getElementById("default_key_select_{{other_names[1]}}");

   encryption_type_select1.addEventListener("change", function () {
      let all_options1 = key_select1.querySelectorAll('option');
      var encryption_type1 = encryption_type_select1.value;

      if (encryption_type1 === 'symmetric') {
         all_options1.forEach((single_option1) => {
            single_option1.disabled = true;
         });
         let shared1 = key_select1.querySelectorAll('option[value^=Shared]');
         shared1.forEach((userItem1) => {
            userItem1.disabled = false;
         });
         default_key1.disabled = false;
      } else if (encryption_type1 === 'asymmetric' || encryption_type1 === 'signed') {
         all_options1.forEach((single_option1) => {
            single_option1.disabled = false;
         });
         let shared1 = key_select1.querySelectorAll('option[value^=Shared]');
         shared1.forEach((userItem1) => {
            userItem1.disabled = true;
         });
      } else {
         all_options1.forEach((single_option1) => {
            single_option1.disabled = true;
         });
      }
   });

</script>
   <script>
      function special_chars(length) {
         var chars = "!#$%&'()*+,-./:;<=>?@[\\]^_`{|}~";
         var result = "";
         for (var i = 0; i < length; i++) {
            result += chars.charAt(Math.floor(Math.random() * chars.length));
         }
         return result;
      }
   </script>

</div>

<a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>

<script>
   $(document).ready(function () {
      $(window).scroll(function () {
         if ($(this).scrollTop() > 20) {
            $('#toTopBtn').fadeIn();
         } else {
            $('#toTopBtn').fadeOut();
         }
      });

      $('#toTopBtn').click(function () {
         document.body.scrollTop = 0; // For Safari
         document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      });
   });

   function endGame() {


   }

</script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop-{{current_user.username}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel-{{current_user.username}}" aria-hidden="true">
   <div class="modal-dialog" id="dialog-box">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" style="color:darkgray" id="staticBackdropLabel-{{current_user.username}}">Please vote</h5>
            <button id="close-button" class="btn btn-danger">X</button>
         </div>
         <div class="modal-body">
            <img id="displayedImage-{{current_user.username}}" src="/images/Arts/Locations/Cafe_new.png" width="450px" height="200px" alt="Image description">
            <select id="places_select-{{current_user.username}}" class="form-select" aria-label="Default select example">
               <option selected>Select Location</option>
               <option value="Cafe">Cafe</option>
               <option value="Track">Track</option>
               <option value="Alley">Alley</option>
               <option value="Dorm">Dorm</option>
               <option value="Garage">Garage</option>
               <option value="Lab">Lab</option>
               <option value="Park">Park</option>
            </select>
            <br>
            <div class="row">
               <div class="col-sm-6">
                  <select id="time_s1-{{current_user.username}}" class="form-select" aria-label="Default select example">
                     <option selected>Select Time</option>
                     <option value="1:00">1:00</option>
                     <option value="2:00">2:00</option>
                     <option value="3:00">3:00</option>
                     <option value="4:00">4:00</option>
                     <option value="5:00">5:00</option>
                     <option value="6:00">6:00</option>
                     <option value="7:00">7:00</option>
                     <option value="8:00">8:00</option>
                     <option value="9:00">9:00</option>
                     <option value="10:00">10:00</option>
                     <option value="11:00">11:00</option>
                     <option value="12:00">12:00</option>
                  </select>
               </div>
               <div class="col-sm-6">
                  <select id="time_s2-{{current_user.username}}" class="form-select" aria-label="Default select example">
                     <option value="PM">PM</option>
                     <option value="AM">AM</option>
                  </select>
               </div>
            </div>
            <div class="modal-footer">
               <button id="submt_vote-{{current_user.username}}" onclick="submitVote()" type="button" class="btn btn-primary">Vote</button>
            </div>
         </div>
      </div>
   </div>


   <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
         var username = "{{ current_user.username }}";
         var myModal = new bootstrap.Modal(document.getElementById(`staticBackdrop-${username}`), {});
         // Connect to the Socket.IO server.
         // The connection URL has the following format, relative to the current page:
         //     http[s]://<domain>:<port>[/<namespace>]
         var socket = io();
         socket.on('update', function () {
            $.get(document.URL, function (data) {
               var elem = $(data).find('#Received');
               $('#Received').replaceWith(elem);
            });
            $.get(document.URL, function (data) {
               var elem = $(data).find('#Sent');
               $('#Sent').replaceWith(elem);
            });
         });

         socket.on('start_vote', function () {
            myModal.show();
         });

      });
         $(document).ready(function(){ 
             var keys = Object.keys(localStorage);
             var i =0;
             for (i=0;i<keys.length; i++) {
                 var key = keys[i];
                 const containerState = localStorage.getItem(key);
                 const item_found = document.getElementById(key);
                 if(!Object.is(item_found, null)){
                     // Save for showing and not showing button(decrypt and vote)
                     if (containerState == "visible") {
                        item_found.style.display = "";
                     }
                     else if(containerState =='hidden'){
                        item_found.style.display = "none";
                     }
                     // Save for image src of voting system
                     else if(containerState.startsWith("/images/Arts/Locations/")){
                        item_found.src = containerState;
                     }
                     // Save for wining condition
                     else{
                        item_found.textContent = containerState;
                     }
                 }
         
             }
         
         });
   function submitVote() {
      var socket = io();
      var username = "{{ current_user.username }}";
      place = document.getElementById(`places_select-${username}`).value;
      time = document.getElementById(`time_s1-${username}`).value;
      console.log(username)
      if (place == "Select Location" || time == "Select Time") {
         return;
      }
      time = time + ' ' + document.getElementById(`time_s2-${username}`).value;
      vote = place + ' ' + time;

      socket.emit('cast_vote', {
         game_id: "{{game.id}}",
         vote: vote
      });
      //disable button and change images upon selected location
      document.getElementById(`submt_vote-${username}`).style.display="none";
      document.getElementById(`places_select-${username}`).style.display="none";
      document.getElementById(`time_s1-${username}`).style.display="none";
      document.getElementById(`time_s2-${username}`).style.display="none";
      localStorage.setItem(`submt_vote-${username}`, document.getElementById(`submt_vote-${username}`).style.display !== "none" ? 'visible' : 'hidden');
      localStorage.setItem(`places_select-${username}`, document.getElementById(`places_select-${username}`).style.display !== "none" ? 'visible' : 'hidden');
      localStorage.setItem(`time_s1-${username}`, document.getElementById(`time_s1-${username}`).style.display !== "none" ? 'visible' : 'hidden');
      localStorage.setItem(`time_s2-${username}`, document.getElementById(`time_s2-${username}`).style.display !== "none" ? 'visible' : 'hidden');
      console.log(place);
      if (place == "Track") {
         document.getElementById(`displayedImage-${username}`).src = "/images/Arts/Locations/Track_new.png";
         localStorage.setItem(`displayedImage-${username}`,"/images/Arts/Locations/Track_new.png");
      }else if (place == "Alley") {
         document.getElementById(`displayedImage-${username}`).src = "/images/Arts/Locations/Alley_new.png";
         localStorage.setItem(`displayedImage-${username}`,"/images/Arts/Locations/Alley_new.png");
      }else if (place == "Dorm") {
         document.getElementById(`displayedImage-${username}`).src = "/images/Arts/Locations/Dorm_new.png";
         localStorage.setItem(`displayedImage-${username}`,"/images/Arts/Locations/Dorm_new.png");
      }else if (place == "Garage") {
         document.getElementById(`displayedImage-${username}`).src = "/images/Arts/Locations/Garage_new.png";
         localStorage.setItem(`displayedImage-${username}`,"/images/Arts/Locations/Garage_new.png");
      }else if (place == "Lab") {
         document.getElementById(`displayedImage-${username}`).src = "/images/Arts/Locations/Lab_new.png";
         localStorage.setItem(`displayedImage-${username}`,"/images/Arts/Locations/Lab_new.png");
      }else if (place == "Park") {
         document.getElementById(`displayedImage-${username}`).src = "/images/Arts/Locations/Park_new.png";
         localStorage.setItem(`displayedImage-${username}`,"/images/Arts/Locations/Park_new.png");
      }
      
      socket.on('return_result', function (msg) {
         switch (msg) {
            case "PlayerWin":
               document.getElementById(`staticBackdropLabel-${username}`).textContent = "You won. The players successfully met in a safe location!";
               localStorage.setItem(`staticBackdropLabel-${username}`,"You won. The players successfully met in a safe location!");
               break;
            case "PlayerLose":
               document.getElementById(`staticBackdropLabel-${username}`).textContent = "You Lost. The Adversary was able to thwart the player's meeting.";
               localStorage.setItem(`staticBackdropLabel-${username}`,"You Lost. The Adversary was able to thwart the player's meeting.");
               break;
            default:  
               document.getElementById(`staticBackdropLabel-${username}`).textContent = "Thank you for voting: Please Wait";
               localStorage.setItem(`staticBackdropLabel-${username}`,"Thank you for voting: Please Wait");
         }
      });
   }
   // START - This is for set color of username
   function setRandomColor(obj, color) {
      obj.css("color", color);
   }

   function generatePastelColor() {
      let R = Math.floor((Math.random() * 127) + 127);
      let G = Math.floor((Math.random() * 127) + 127);
      let B = Math.floor((Math.random() * 127) + 127);

      let rgb = (R << 16) + (G << 8) + B;
      return `#${rgb.toString(16)}`;
   }

   let usernames = $(".form-check-label")

   // randomizes colors in recipient list
   for (let name = 0; name < usernames.length; name++) {
      setRandomColor($(usernames[name]), generatePastelColor())
   }
   // END - This is for set color of username

   function content(message) {
      let h = $("#content");
      //console.log(this.sent_msg)
   }
   content(0)

   var dialogBox = document.getElementById("dialog-box");
   var closeButton = document.getElementById("close-button");
   var body = document.getElementById("body");

   closeButton.addEventListener("click", function () {
      dialogBox.style.display = "none";
      location.reload();
   });

</script>

<script>
// Change Image when select DropDown
var other_names_str = "{{ other_names |safe }}".replaceAll("\'","\"");
var other_names = Array.from(JSON.parse(other_names_str))

for (let name = 0; name < other_names.length; name++){
   //console.log(other_names);
   //console.log(other_names[name]);
   const select = document.getElementById(`locations_${other_names[name]}`);
   const image = document.getElementById(`location-image_${other_names[name]}`);

   select.addEventListener("change", function () {
      //console.log(select.value)
      //console.log(select)
      
      switch (select.value) {
         case "Cafe":
            image.src = "/images/Arts/Locations/Cafe_new.png";
            break;
         case "Track":
            image.src = "/images/Arts/Locations/Track_new.png";
            break;
         case "Alley":
            image.src = "/images/Arts/Locations/Alley_new.png";
            break;
         case "Dorm":
            image.src = "/images/Arts/Locations/Dorm_new.png";
            break;
         case "Garage":
            image.src = "/images/Arts/Locations/Garage_new.png";
            break;
         case "Lab":
            image.src = "/images/Arts/Locations/Lab_new.png";
            break;
         case "Park":
            image.src = "/images/Arts/Locations/Park_new.png";
            break;
         default:
            image.src = "/images/Arts/Locations/Cafe_new.png";
      }
   });
}
   
</script>
<script>
	// TODO: https://stackoverflow.com/questions/51135498/flask-update-the-page-content-without-redirection-in-ajax-jquery
	function decrypt(id_button){
		const msg_id = id_button.split("-")[1];
		console.log(msg_id);
		const decryption_type = document.getElementById(`decryption_type_select-${msg_id}`).value;
		const decryption_key = document.getElementById(`decryption_key_select-${msg_id}`).value;
		const current_user_username = id_button.split("-")[3];
		var socket = io();
		socket.emit('decrypted', {message: msg_id,decryption_key:decryption_key,decryption_type:decryption_type,curname:current_user_username});
		socket.on('finish_decrypt_user',(arg1) => {
			if (arg1 !== "Good Job!"){
				alert(arg1); // 1
			}	
		});
		socket.on('redirect', function (data) {
			console.log(data.url)
			window.location.reload(true);
			window.location.href = data.url;
		});
	}
</script>
<script>

   // This script will limit the permission of certain key
   var options_for_decrypt = document.querySelectorAll('[data-group="decrypt_options"]');
   for (let i = 0; i < options_for_decrypt.length; i++) {
       msg_id = options_for_decrypt[i].id.split("-")[1];
       current_user_username = options_for_decrypt[i].id.split("-")[2].replace(',', '');
       decryption_type_select = document.getElementById(`decryption_type_select-${msg_id}`);
       de_key_select = document.getElementById(`decryption_key_select-${msg_id}`);
      
       //var decrytion_type = decryption_type_select.value;
       decryption_type_select.addEventListener("change", function() {
           msg_id = options_for_decrypt[i].id.split("-")[1];
           new_decryption_type_select =  document.getElementById(`decryption_type_select-${msg_id}`);
            de_default_key = document.getElementById(`default_key_select-${msg_id}`);
            de_key_select = document.getElementById(`decryption_key_select-${msg_id}`);
            all_options = de_key_select.querySelectorAll('option');
            if (new_decryption_type_select.value === "symmetric") {
                all_options.forEach((single_option) => {
                    single_option.disabled = true;
                });
                let shared = de_key_select.querySelectorAll('option[value^=Shared]');
                shared.forEach((userItem) => {
                    userItem.disabled = false;
                });
                de_default_key.disabled = false
            }
            else if(new_decryption_type_select.value  === 'asymmetric' || new_decryption_type_select.value  === 'signed' ){
                all_options.forEach((single_option) => {
                    single_option.disabled = false;
                });
                let shared = de_key_select.querySelectorAll('option[value^=Shared]');
                shared.forEach((userItem) => {
                    userItem.disabled = true;
                });
            }
            else{
                all_options.forEach((single_option) => {
                    single_option.disabled = false;
                });
            }  

        });
    }

   </script>
<script>
   var dropboxes = document.querySelectorAll('#encryption_sign_type_select_{{other_names[0]}}, #key_select_{{other_names[0]}}');
   
   // Add event listener to all selected elements
   dropboxes.forEach(function(dropbox) {
      dropbox.addEventListener('change', function() {
    
         // if one of the value is selected
         var allSelectedValuesNotMinusOne = Array.from(dropboxes).some(function(db) {
         return db.value !== '-1';
         });

         // Check if all selected values are selected
         //console.log(dropboxes);
         var allSelectedValues = Array.from(dropboxes).every(function(dbb) {
            //console.log(dbb.value);
            return dbb.value !== '-1';
         });
         //console.log(allSelectedValues);
         var submitButton = document.getElementById('button_{{other_names[0]}}');
         var error_dis = document.getElementById("error-message_{{other_names[0]}}");
         let hidden = error_dis.getAttribute("hidden");
         if(allSelectedValuesNotMinusOne && !allSelectedValues){
            // Disable the button
            error_dis.removeAttribute("hidden");
            submitButton.disabled = true;
         }
         else{
            // Enable the button
            error_dis.setAttribute("hidden", "hidden");
            submitButton.disabled = false;
         }
         
      });
   });
</script>
<script>
   var dropboxes1 = document.querySelectorAll('#encryption_sign_type_select_{{other_names[1]}}, #key_select_{{other_names[1]}}');
   
   // Add event listener to all selected elements
   dropboxes1.forEach(function(dropbox) {
      dropbox.addEventListener('change', function() {
    
         // if one of the value is selected
         var allSelectedValuesNotMinusOne1 = Array.from(dropboxes).some(function(db) {
         return db.value !== '-1';
         });

         // Check if all selected values are selected
         //console.log(dropboxes);
         var allSelectedValues1 = Array.from(dropboxes).every(function(dbb) {
            //console.log(dbb.value);
            return dbb.value !== '-1';
         });
         //console.log(allSelectedValues);
         var submitButton1 = document.getElementById('button_{{other_names[1]}}');
         var error_dis1 = document.getElementById("error-message_{{other_names[1]}}");
         let hidden1 = error_dis1.getAttribute("hidden");
         if(allSelectedValuesNotMinusOne1 && !allSelectedValues1){
            // Disable the button
            error_dis1.removeAttribute("hidden");
            submitButton1.disabled = true;
         }
         else{
            // Enable the button
            error_dis1.setAttribute("hidden", "hidden");
            submitButton1.disabled = false;
         }
         
      });
   });
</script>
<script>
	function Refresh(){
		window.location.href = "{{ url_for('messages') }}";
	}
 </script>
   {% endblock content %}