
{% macro print_msgs(msgs,usernames) -%}
{% for msg in msgs %}
    {% if msg[0].is_edited %}
    <!-- if the message has been edited, display the edited parts-->
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                {% if msg[0].new_sender %}
                <a>Sender: {{ msg[0].new_sender }} | </a>
                {% else %}
                <a>Sender: {{ msg[0].sender }} | </a>
                {% endif %}
                {% if msg[0].new_recipient %}
                <a>Recipient: {{ msg[0].new_recipient }} </a>
                {% else %}
                <a>Recipient: {{ msg[0].recipient }} </a>
                {% endif %}
                <a> | Time Recieved: {{ msg[0].time_recieved }} </a>
            </div>
            {% if msg[0].edited_content %}
            <p class="article-content">{{ msg[0].edited_content }}</p>
            {% else %}
            <p class="article-content">{{ msg[0].content }}</p>
            {% endif %}
            {% if msg[0].is_encrypted %}
            <div class="m-1 row ">
                <div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
                    Encrypted With:</div>
                <div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ msg[0].encryption_details }}
                </div>
                <div>

                </div>
            </div>
            {% endif %}
            {% if msg[0].is_signed %}
            <div class="m-1 row">
                <div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed
                    by:</div>
                <div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ msg[0].signed_details }}
                </div>
            </div>
            {% endif %}
        </div>
    </article>
    {% else %}
    {% set msg_id = msg[0].id %}
    {% if msg[0].encryption_details == "invalid encrypted key" or msg[0].encryption_details == "invalid sign key" %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a>Sender: {{ msg[0].sender }} | </a>
                <a>Recipient: {{ msg[0].recipient }}</a>
                <a>test: {{ msg[0].encryption_details }} </a>
                <a> | Time Received: {{ msg[0].time_received }} </a>
            </div>

            <p class="article-content">{{ msg[0].content }}</p>
            {% if msg[0].is_encrypted %}
            <div class="m-1 row ">
                <div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
                    Encrypted For:</div>
                <div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ msg[0].encryption_details }}
                </div>
            </div>
            {% endif %}
            {% if msg[0].is_signed %}
            <div class="m-1 row">
                <div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed
                    by:</div>
                <div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ msg[0].signed_details }}
                </div>
            </div>
            {% endif %}
        </div>
    </article>

{% else %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a>Sender: {{ msg[0].sender }} | </a>
            <a>Recipient: {{ msg[0].recipient }}</a>
            <a> | Time Received: {{ msg[0].time_received }} </a>
        </div>


        <div class="row g-3 align-items-center">
           <div class="col">
              <select id="decryption_type_select-{{ msg_id }}" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                 <option value= "-1" selected>No Decryption</option>
                 <option value="symmetric">Symmetric Decryption</option>
                 <option value="asymmetric">Asymmetric Decryption</option>
              </select>
           </div>
           <div class="col">
              <select id="decryption_user_select-{{ msg_id }}" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                 <option value= "-1" selected>User</option>
                 {% for username in usernames %}
                 <option value="{{ username }}">{{ username }}</option>
                 {% endfor %}
              </select>
            </div>
           <div class="col">
              <select id="decryption_key_select-{{ msg_id }}" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                 <option value= "-1" selected>Key Type</option>
                 <option value="public">Public</option>
                 <option value="private">Private</option>
                 <option value="shared">Shared Key</option>
              </select>
           </div>
        </div>

        <div class="row g-3 align-items-center">
           <div class="col">
              <select id="de_signature_type_select-{{ msg_id }}" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                 <option value= "-1" selected>No Signature</option>
                 <option value="signed">Signed</option>
              </select>
           </div>
           <div class="col">
              <select id="de_signature_user_select-{{ msg_id }}" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                 <option value= "-1" selected>User</option>
                 {% for username in usernames %}
                 <option value="{{ username }}">{{ username }}</option>
                 {% endfor %}
              </select>
           </div>
           <div class="col">
              <select id="de_signature_key_select-{{ msg_id }}" class="form-select form-select-sm mb-3 gray-blue" aria-label=".form-select-lg example">
                 <option value= "-1" selected>Key Type</option>
                 <option value="public">Public</option>
                 <option value="private">Private</option>
              </select>
           </div>


        </div>
        <button id="decrypt-{{ msg_id }}" class="btn btn-secondary decrypt-button">Decrypt</button>
        <div id="content-{{ msg_id }}" class="content" style="display:none;">{{ msg[0].content }}</div>
    </div>
    {% if msg[0].is_encrypted %}
    <div class="m-1 row ">
        <div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Encrypted
            For:</div>
        <div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ msg[0].encryption_details }}
        </div>
    </div>
    {% endif %}
    {% if msg[0].is_signed %}
    <div class="m-1 row">
        <div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed by:
        </div>
        <div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ msg[0].signed_details }}</div>
    </div>
    {% endif %}
</article>
{% endif %}
{% endif%}
{% endfor %}

<script>
document.addEventListener('DOMContentLoaded', function() {

  var decrypt_buttons = document.querySelectorAll(".decrypt-button");

  for (let i = 0; i < decrypt_buttons.length; i++) {
    decrypt_buttons[i].addEventListener("click", function() {
      //const msg_id = decrypt_buttons[i].id.split("-")[1];
      const msg_id = this.id.split("-")[1];

      const decryption_type = document.getElementById(`decryption_type_select-${msg_id}`).value;
      const decryption_user = document.getElementById(`decryption_user_select-${msg_id}`).value;
      const decryption_key = document.getElementById(`decryption_key_select-${msg_id}`).value;
      const signature_type = document.getElementById(`de_signature_type_select-${msg_id}`).value;
      const signature_user = document.getElementById(`de_signature_user_select-${msg_id}`).value;
      const signature_key = document.getElementById(`de_signature_key_select-${msg_id}`).value;

      //var msg = msgs.find(m => m.id === msg_id);

      console.log("im here");
      console.log(msg_id);

          console.log(decryption_type);
      console.log(decryption_user);
      console.log(decryption_key);
      //console.log(msg.recipient);

      if (decryption_type === "symmetric" && decryption_key !== "shared") {
        alert("Please select Shared Key for symmetric encryption");
        return;
      } else if (decryption_type === "asymmetric" && decryption_key !== "private") {
        alert("Please select Receiver's Private Key for asymmetric encryption");
        return;
      } else if (signature_type === "signed" && signature_key !== "public") {
        alert("Please select Sender's Public Key for signed message verification");
        return;
      }
        else{
      var clicked = localStorage.getItem("clicked") || "";
      if (clicked.indexOf("{{ msg_id }}") !== -1) {
          document.getElementById("decrypt-{{ msg_id }}").style.display = "none";
          document.getElementById("content-{{ msg_id }}").style.display = "block";
      }
      document.getElementById("decrypt-{{ msg_id }}").addEventListener("click", function () {
          localStorage.setItem("clicked", clicked + "{{ msg_id }}");
          document.getElementById("decrypt-{{ msg_id }}").style.display = "none";
          document.getElementById("content-{{ msg_id }}").style.display = "block";
      });
}
    });
  }
});



</script>

{%- endmacro -%}
