<!-- 
    File: spectator_game.html
    Author: Pierce Jackson
    Date: 8/26/2021
    Last Modified: 8/27/2021
    E-mail: piercej1@umbc.edu
    Description: html and jinja file for handling the spectator_ page
				 The game that the user selected from the spectator main page
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <h1>Spectating {{game.name}}</h1>
	
	<div class="content-section">
		<h2>Players</h1>
		<p>{{game.players}}</p>
		<h2>Adversary</h1>
		<p>{{game.adversary}}</p>
	</div>
	
	<h1>Messages</h1>
	<article class="media content-section bg-dark">
		<div style="margin:auto;width:100%;display:flex; flex-direction:row;">
			<div class="media-body" style="width:50%; text-align: center;" >
				<h5> Players Actions: </h5>
			</div>
			<div class="media-body" style="width:50% ; text-align: center;" >
				<h5> Adversary Actions: </h5>
			</div>
		</div>
	</article>
	{% if message is iterable %} <!-- this checks if the passed message var has content in it -->
    {% for message in message%} 
	
		{% if message.is_edited %}
		
			{% if message.is_deleted %}
			<!-- Orignal message and deleted status -->
			<article class="media content-section">
			<div style="margin:auto;width:100%;display:flex; flex-direction:row;">
				<div class="media-body" style="width:50%;">
					<div class="article-metadata">
					<a>Sender:  {{message.sender}} </a>
					<a>Recipient:  {{message.recipient}} </a>
					<small class="text-muted">Round:  {{message.round}} </small>
					</div>
					<p class="article-content"> {{message.content}} </p>
				</div>
				<div class="media-body" style="width:50% ; text-align: center;" >
					<h5> Deleted </h5>
				</div>
			</div>
			</article>
			{% else %}
				<!-- Adversary creates message -->
				{% if message.edited_content is none %}
				<article class="media content-section">
					<div style="margin:auto;width:100%;display:flex; flex-direction:row;">
						<div class="media-body" style="width:50% ; text-align: center;" >
							<h5> </h5>
						</div>
						<div class="media-body" style="width:50%;">
							<h5> Original : </h5>
							<div class="article-metadata">
							<a>Sender:  {{message.sender}} ({{game.adversary}})</a>
							<a>Recipient:  {{message.recipient}} </a>
							<small class="text-muted">Round:  {{message.round}} </small>
							</div>
							<p class="article-content"> {{message.content}} </p>
						</div>
					</div>
				</article>
				{% else %}
			
				<!-- Original and modified message side by side -->
				<article class="media content-section">
					<div style="margin:auto;width:100%;display:flex; flex-direction:row;">
						<div class="media-body" style="width:50%;">
							<div class="article-metadata">
							<h5> Original: </h5>
							<a>Sender:  {{message.sender}} </a>
							<a>Recipient:  {{message.recipient}} </a>
							<small class="text-muted">Round:  {{message.round}} </small>
							</div>
							<p class="article-content"> {{message.content}} </p>
						</div>
						<div class="media-body" style="width:50%;">
							<h5> Modified: </h5>
							<div class="article-metadata">
							<a>Sender:  {{message.new_sender}} ({{game.adversary}})</a>
							<a>Recipient:  {{message.new_recipient}} </a>
							<small class="text-muted">Round:  {{message.round}} </small>
							</div>
							<p class="article-content"> {{message.edited_content}} </p>
						</div>
					</div>
				</article>
				{% endif %}
			{% endif %}
		{% else %}
		<!-- Just original message-->
		<article class="media content-section">
			<div style="margin:auto;width:100%;display:flex; flex-direction:row;">
				<div class="media-body" style="width:50%;">
					<div class="article-metadata">
					<a>Sender:  {{message.sender}} </a>
					<a>Recipient:  {{message.recipient}} </a>
					<small class="text-muted">Round:  {{message.round}} </small>
					</div>
					<p class="article-content"> {{message.content}} </p>
				</div>
				<div class="media-body" style="width:50% ; text-align: center;" >
					<h5> Unmodified </h5>
				</div>
			</div>
        </article>
        {% endif %}
    {% endfor %}
    {% endif %}
	
	<!-- add stuff here -->
	
{% endblock content %}
	