
{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->

<div class="content-section bg-dark" style="width:80%;display:flex;flex-direction:row;border-radius: 10px;padding:20px;">

    <div style="margin:auto;padding:10px;border-radius:10px;width:100%;background-color:rgb(74, 77, 78);display:flex; flex-direction:row;">

        <div style="width:50%;">

            <p style="font-size:20px;">Original:</p>

            <div class="content-section bg-dark" style="margin:5px;margin-right:25px;">

                <div style="display:flex; width:100%;">
                    <div style="width:50%;">Sender</div>
                    <div style="width:50%;">Recipient</div>
                </div>

                <div style="flex-direction:row;background-color:gray;color:black;border-radius:10px;height:200px;margin:10px;padding:10px;">Message</div>

            </div>

        </div>

        <div style="width:50%;">

            <p style="font-size:20px;">Modified:</p>

            <div class="content-section bg-dark" style="margin:5px;margin-right:25px;">

                <div style="display:flex; width:100%;">
                    <div style="width:50%;">Sender</div>
                    <div style="width:50%;">Recipient</div>
                </div>

                <div style="flex-direction:row;background-color:gray;color:black;border-radius:10px;height:200px;margin:10px;padding:10px;">Message</div>

            </div>

        </div>

        
    </div>




</div>












{% endblock content %}