<!--
    File: spectator_main.html
    Author: Kathleen Koerner
    Date: 9/9/2021
    Last Modified: 9/9/2021
    E-mail: im80933@umbc.edu
    Description: html and jinja file for handling the spectator page
				 The selection of games for the user from the spectator main page
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
	<h1>Game Selection</h1>
	<div class="content-section">
        <form method="POST" action="">
            {{ sg_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb4">Choose a Game</legend>
                <div class="form-group">
                    {{ sg_form.running_games.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->

                    {% if sg_form.running_games.errors %} <!-- if there are errors in the form... -->
                        {{ sg_form.running_games(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in sg_form.running_games.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ sg_form.running_games(class="form-control form-control-lg") }}
                    {% endif %}
                </div> <br/>
            </fieldset>
            <div class="form-group">
                {{ sg_form.select_game(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}