<!--
    File: spectator_messages.html
    Authors: Piere Jackson, Kathleen Koerner
    Date: 9/10/2021
    Last Modified: 9/10/2021
	E-mail: piercej1@umbc.edu
    E-mail: im80933@umbc.edu
    Description: html and jinja file for handling the spectator page
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
	{% if not game %}
	<!-- Game Selection form, spectator_main.html -->
		<h1>Game Selection</h1>
		<div class="content-section">
			<form method="POST" action="">
				{{ sg_form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb4">Choose a Game</legend>
					<div class="form-group">
						{{ sg_form.running_games.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->

						{% if sg_form.running_games.errors %} <!-- if there are errors in the form... -->
							{{ sg_form.running_games(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for errors in sg_form.running_games.errors %}
									<span>{{ errors }}</span> <!-- display the errors -->
								{% endfor %}
							</div>
						{% else %} <!-- if there aren't errors, just display normally -->
							{{ sg_form.running_games(class="form-control form-control-lg") }}
						{% endif %}
					</div> <br/>
				</fieldset>
				<div class="form-group">
					{{ sg_form.select_game(class="btn btn-outline-info") }}
				</div>
			</form>
		</div>
	{% else %}
	<!-- Game Spectating, spectator_game.html -->
		<h1>Spectating {{game.name}}</h1>
		
		<div class="content-section">
			<a class="nav-item nav-link" href="{{ url_for('spectate_game') }}">Return to Game Selection</a>
		</div>
		
		<div id="live_content">
		<div class="content-section">
			<h2>Players</h1>
			<p>{{game.players}}</p>
			<h2>Adversary</h1>
			<p>{{game.adversary}}</p>
			<h2>Total Messages Sent</h1>
			<p>{{msg_count}}</p>
			
		</div>

		<!-- Add a legend article here or in the about page to explain game infomation to spectator -->
		<h1>Messages</h1>
		<div class="m-1 row ">
			<button type="button" class="btn btn-primary" onclick="GenerateText()"> Generate Log</button>
		</div>
		<article class="media content-section bg-dark">
			<div style="margin:auto;width:100%;display:flex; flex-direction:row;">
				<div class="media-body" style="width:50%; text-align: center;" >
					<h5> Players Actions: </h5>
				</div>
				<div class="media-body" style="width:50% ; text-align: center;" >
					<h5> Adversary Actions: </h5>
				</div>
			</div>
		</article>

		<div>
		{% if message is iterable %} <!-- this checks if the passed message var has content in it -->
		{% for message in message%} 

		<article class="media content-section" {% if message.adv_created %} style="background: rgb(20, 75, 20);" {% elif message.is_deleted %} style="background: rgb(75, 20, 20);" {% elif message.is_edited %} style="background: rgb(20, 20, 75);" {% else %} style="background: rgb(60, 60, 20);" {% endif %}>
			<div style="margin:auto;width:100%;display:flex; flex-direction:row;">
			{% if message.adv_created %}
				{% if not message.is_deleted %}
				<!-- Adversary Created -->
				<!-- Messages created then deleted by adversary are not shown -->
				<!-- Messages created then edited by adversary only show edited message-->
				
					<div class="media-body" style="width:50% ; text-align: center;" >
						<h5> Adversary Created</h5>
					</div>
					<div class="media-body" style="width:50%;">
						<div class="article-metadata">
							{% if message.new_sender %}
							<a>Sender: {{ message.new_sender }} | </a>
							{% else %}
							<a>Sender: {{ message.sender }} | </a>
							{% endif %}
							{% if message.new_recipient %}
							<a>Recipient: {{ message.new_recipient }}</a>
							{% else %}
							<a>Recipient: {{ message.recipient }}</a>
							{% endif %}
						</div>
						{% if message.edited_content %}
						<p class="article-content"> {{message.edited_content}} </p>
						{% else %}
						<p class="article-content"> {{message.content}} </p>
						{% endif %}
					</div>
		
				{% endif %}		
			{% else %}
				{% if message.is_edited or message.is_decrypted%}
					{% if message.is_deleted %}
					<!-- Orignal message and deleted status -->
					
						<div class="media-body" style="width:50%;">
							<div class="article-metadata">
							<a>Sender:  {{message.sender}} </a>
							<a>Recipient:  {{message.recipient}} </a>
							</div>
							<p class="article-content"> {{message.content}} </p>
						</div>
						<div class="media-body" style="width:50% ; text-align: center;" >
							<h5> Deleted </h5>
						</div>

					{% else %}	
					<!-- Original and modified message side by side -->
					
							<div class="media-body" style="width:50%;">
								<div class="article-metadata">
								<h5> Original: </h5>
								<a>Sender:  {{message.sender}} </a>
								<a>Recipient:  {{message.recipient}} </a>
								</div>
								<p class="article-content"> {{message.content}} </p>
							</div>
							<div class="media-body" style="width:50%;">
								{% if message.is_edited and message.is_decrypted %}
									<h5> Decrypted and Modified: </h5>
								{% elif message.is_decrypted %}
									<h5> Decrypted: </h5>
								{% else %}
									<h5> Modified: </h5>
								{% endif %}
								<div class="article-metadata">
								{% if message.new_sender %}
								<a>Sender: {{ message.new_sender }} | </a>
								{% else %}
								<a>Sender: {{ message.sender }} | </a>
								{% endif %}
								{% if message.new_recipient %}
								<a>Recipient: {{ message.new_recipient }}</a>
								{% else %}
								<a>Recipient: {{ message.recipient }}</a>
								{% endif %}
								<!-- <small class="text-muted">Round:  {{message.round}} </small> -->
								</div>
								<p class="article-content"> {{message.edited_content}} </p>
							</div>

					{% endif %}
				{% else %}
				<!-- Just original message-->
						<div class="media-body" style="width:50%;">
							<div class="article-metadata">
							<a>Sender:  {{message.sender}} </a>
							<a>Recipient:  {{message.recipient}} </a>
							</div>
							<p class="article-content"> {{message.content}} </p>
						</div>
						<div class="media-body" style="width:50% ; text-align: center;" >
							<h5> Unmodified </h5>
						</div>
				{% endif %}
				
			{% endif %}
			</div>
			{% if message.is_encrypted %}
				<div class="m-1 row ">
				{% if message.encryption_type == 'symmetric' %}
					<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
						Symmetrically encrypted with:</div>
				{% elif message.encryption_type == 'asymmetric' %}
						<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">
						Asymmetrically encrypted with:</div>
				{% endif %}
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ message.key}}</div>
			</div>
			{% endif %}
			{% if message.is_signed %}
			<div class="m-1 row">
				<div class="rounded-start d-inline col-md-auto bg-warning text-dark border border-3 border-warning">Signed by:</div>
				<div class="rounded-end d-inline col-md-auto border border-3 border-warning">{{ message.key}}</div>
			</div>
			{% endif %}
			</article>
		{% endfor %}	
		{% endif %}
		</div> 
		<div>
	{% endif %}
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// Connect to the Socket.IO server.
        // The connection URL has the following format, relative to the current page:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io();
		
		socket.on('update', function() {
			{% if game %}
			url = document.URL + "?game_id=" + {{game.id}};
			$.get(url, function(data) {
				var elem = $(data).find('#live_content');
				 $('#live_content').replaceWith(elem);
			});
			{% endif %}
        });
	});
	
	</script>
	<script>
		function GenerateText(){
			var socket = io();
			socket.emit('Generate_Log');
		}
	</script>
{% endblock content %}