<!DOCTYPE html>
<!--Code By Webdevtrick ( https://webdevtrick.com )-->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Combobox Patterns | Webdevtrick.com</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="style.css">

</head>
<body>

<label id="combo3-label" class="combo-label">Multi-select Combobox</label>
<span id="combo3-remove" style="display: none">remove</span>
<ul class="selected-options" id="combo3-selected"></ul>
<div class="combo js-multiselect">
  <input
         aria-activedescendant=""
         aria-autocomplete="none"
         aria-controls="listbox3"
         aria-expanded="false"
         aria-haspopup="listbox"
         aria-labelledby="combo3-label combo3-selected"
         id="combo3"
         class="combo-input"
         role="combobox"
         type="text"
         />
  <div class="combo-menu" role="listbox" id="listbox3"></div>
</div>

<ul class="select2-selection__rendered" id="select2-id_label_multiple-container">
    <li class="select2-selection__choice" title="Hawaii" data-select2-id="select2-data-138-uiu6">
        <button type="button" class="select2-selection__choice__remove" tabindex="-1" title="Remove item" aria-label="Remove item" aria-describedby="select2-id_label_multiple-container-choice-xjhd-HI">
            <span aria-hidden="true">×</span>
        </button>
        <span class="select2-selection__choice__display" id="select2-id_label_multiple-container-choice-xjhd-HI">Signed</span>
		<span class="select2-selection__choice__display">user.public</span>
		
    </li>
	
	    <li class="select2-selection__choice" title="Hawaii" data-select2-id="select2-data-138-uiu6">
        <button type="button" class="select2-selection__choice__remove" tabindex="-1" title="Remove item" aria-label="Remove item" aria-describedby="select2-id_label_multiple-container-choice-xjhd-HI">
            <span aria-hidden="true">×</span>
        </button>
        <span class="select2-selection__choice__display" id="select2-id_label_multiple-container-choice-xjhd-HI">Signed</span>
		<span class="select2-selection__choice__display">user.public</span>
		
    </li>
</ul>



<div>
<select>  
     <option>1</option>  
	 <option>2</option>
 </select> 
<select>  
     <option>1</option>  
	 <option>2</option>
 </select>  
 <button>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
	</svg>
  </button>
</div>

<ul class="select2-selection__rendered" id="select2-id_label_multiple-container">
    <li class="select2-selection__choice" title="Hawaii" data-select2-id="select2-data-138-uiu6">
        <button type="button" class="select2-selection__choice__remove" tabindex="-1" title="Remove item" aria-label="Remove item" aria-describedby="select2-id_label_multiple-container-choice-xjhd-HI">
            <span aria-hidden="true">×</span>
        </button>
        <span class="select2-selection__choice__display" id="select2-id_label_multiple-container-choice-xjhd-HI">Hawaii</span>
		<span class="select2-selection__choice__display">second box</span>
		
    </li>
</ul>


<script  src="function.js"></script>

<script> </script>

</body>
</html>