/* 
File: main.css
Author: Robert Shovan /Voitheia
Date: 6/15/2021
E-mail: rshovan1@umbc.edu
Description: main css file

Shamelessly stolen from the tutorial:
https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/main.css 
*/

html {
  height:100%;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(346deg, rgba(0,0,0,1) 0%, rgba(10,10,47,1) 15%, rgba(86,103,131,1) 67%, rgba(190,230,245,1) 100%);
    color: #444;
    margin-top: 5rem;
	background-attachment: fixed;
  }
  
.darkbkg {
  background:rgb(10,10,47);
}


  h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  .home-logo {
    width: 300px;
    height: 300px;
    position: absolute;
    left:50%;
    top:50%;
    border: 1px solid #dbcdc6;
    border-radius: 3px;
}

.modal-content{
   background: linear-gradient(346deg, rgba(0,0,0,1) 0%, rgb(19, 19, 22) 10%, rgb(106, 108, 110) 64%, rgb(40, 42, 43) 100%);
}

.gray-blue{
    background-color: #333333;
    color: #0dcaf0;
    border-color:#0dcaf0;
}

.modal-footer{
   border: transparent;
}

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #888888;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  /* */
 .select2-selection__rendered {
    color: #444;
    line-height: 28px; 
	padding:0
	}
	
 .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0 ;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap; }
	
.select2-selection__choice:last-child {
 border-right: none; !important;
 }
	
  .select2-selection__choice__display {
    cursor: default;
    border-right: 1px solid #aaa;
    padding-left: 2px;
    padding-right: 5px; }
  .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
	bottom: 0;
    position: absolute;
    left: 0;
    top: 0; }
    .select2-selection__choice__remove:hover, .select2-selection__choice__remove:focus {
      background-color: #f1f1f1;
      color: #333;
      outline: none; }

