/* 
File: main.css
Author: Robert Shovan /Voitheia
Date: 6/15/2021
E-mail: rshovan1@umbc.edu
Description: main css file

Shamelessly stolen from the tutorial:
https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/main.css 
*/

html {
  height:100%;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(346deg, rgba(0,0,0,1) 0%, rgba(10,10,47,1) 15%, rgba(86,103,131,1) 67%, rgba(190,230,245,1) 100%);
    color: #dbcdc6;
    margin-top: 5rem;
  }
  
.darkbkg {
  background:rgb(10,10,47);
}

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  .home-logo {
    width: 300px;
    height: 300px;
    position: absolute;
    left:50%;
    top:50%;
    border: 1px solid #dbcdc6;
    border-radius: 3px;
  }

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #888888;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }