<!-- 
    File: account.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/15/2021
    Last Modified: 6/24/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the account page
    this page is just used for checking which account you are logged in as if you need to
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <p>Currently logged in as: {{ current_user.username }}</p>
{% endblock content %}