<!-- 
    File: adversary_messages.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/24/2021
    Last Modified: 7/6/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the adversary messages page
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <h1>Messages</h1>

    <!-- this part here is just copied from messages.html -->
    <div class="content-section">
        <form method="POST" action="">
            {{ msg_form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- these form groups are basically the same thing, just for each field needed for the messages -->
                <legend class="border-bottom mb4">Send a Message</legend>
                <div class="form-group">
                    {{ msg_form.sender.label(class="form-control-label") }}

                    {% if msg_form.sender.errors %} <!-- if there are errors in the form... -->
                        {{ msg_form.sender(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in msg_form.sender.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ msg_form.sender(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class="form-group">
                    {{ msg_form.recipient.label(class="form-control-label") }}

                    {% if msg_form.recipient.errors %} <!-- if there are errors in the form... -->
                        {{ msg_form.recipient(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in msg_form.recipient.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ msg_form.recipient(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class="form-group">
                    {{ msg_form.content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if msg_form.content.errors %} <!-- if there are errors in the form... -->
                        {{ msg_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in msg_form.content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ msg_form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ msg_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <h2>Round {{ game.current_round }} Message {{ current_msg }}/{{ msg_list_size }}</h2>

{# THIS SECTION WILL PROBABLY BREAK IF NO MESSAGES ARE PASSED THROUGH THE ROUTE #}

    {% if message %} <!-- if there is a message passed, display it and the edit message stuff -->
        <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/article.html -->
        {% if message.edited_content %} <!-- if the message has been edited, display the edited parts-->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ message.new_sender }}</a>
                <a>Recipient: {{ message.new_recipient }}</a>
                <small class="text-muted">Round: {{ message.round }}</small>
                </div>
                <p class="article-content">{{ message.edited_content }}</p>
            </div>
        </article>
        {% else %} <!-- if the message hasn't been edited, display normally -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ message.sender }}</a>
                <a>Recipient: {{ message.recipient }}</a>
                <small class="text-muted">Round: {{ message.round }}</small>
                </div>
                <p class="article-content">{{ message.content }}</p>
            </div>
        </article>
        {% endif %}

    <div class="content-section">
        <form method="POST" action="">
            {{ adv_msg_edit_form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- these form groups are basically the same thing, just for each field needed for the messages -->
                <legend class="border-bottom mb4">Edit a Message</legend>
                <div class="form-group">
                    {{ adv_msg_edit_form.new_sender.label(class="form-control-label") }}

                    {% if adv_msg_edit_form.new_sender.errors %} <!-- if there are errors in the form... -->
                        {{ adv_msg_edit_form.new_sender(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in adv_msg_edit_form.new_sender.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ adv_msg_edit_form.new_sender(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class="form-group">
                    {{ adv_msg_edit_form.new_recipient.label(class="form-control-label") }}

                    {% if adv_msg_edit_form.new_recipient.errors %} <!-- if there are errors in the form... -->
                        {{ adv_msg_edit_form.new_recipient(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in adv_msg_edit_form.new_recipient.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ adv_msg_edit_form.new_recipient(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class="form-group">
                    {{ adv_msg_edit_form.edited_content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if adv_msg_edit_form.edited_content.errors %} <!-- if there are errors in the form... -->
                        {{ adv_msg_edit_form.edited_content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in adv_msg_edit_form.edited_content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {% if message.edited_content %} <!-- if the message has been edited, display the edited parts-->
                        {{ adv_msg_edit_form.edited_content(class="form-control form-control-lg",value=message.edited_content) }}
                        {% else %} <!-- if the message hasn't been edited, display normally -->
                        {{ adv_msg_edit_form.edited_content(class="form-control form-control-lg",value=message.content) }}
                        {% endif %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <!-- previous, submit, and next buttons for message editing -->
                {{ adv_buttons_form.prev_submit(class="btn btn-outline-info") }}
                {{ adv_msg_edit_form.submit_edits(class="btn btn-outline-info") }}
                {{ adv_buttons_form.next_submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% else %} <!-- if no messages are passed, just display this -->
    <h3>No messages for the current round.</h3>
    {% endif %}
    
    <!-- advance round button -->
    <div class="content-section">
        <form method="POST" action="">
            <div class="form-group">
                {{ adv_next_round_form.advance_round(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}