<!-- 
    File: home.html
    Author: Robert Shovan /Voitheia
    Date: 6/15/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the home page
    this page doesn't really have anything useful for now
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <h1>greeting this is home page</h1> <!-- just some html so we know this page is different form others -->
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <p>theres no place like 127.0.0.1 :)))))))</p>
{% endblock content %}