<!-- 
    File: layout.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/15/2021
    Last Modified: 6/24/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file that provides the default layout of all other html files in the website.
    we use a layout template so that we do not repeat code for things we do on each page.
    a whole bunch of the code in here was shamelessly stolen from the tutorial.
    https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/
-->

<!DOCTYPE html>
<html>
<head>
    <!-- bootstrap required stuff begins here -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- bootstrap required stuff ends here -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- we use an if else statement here to determine what the title of the page should be based on what is passed from the title variable from routes.py -->
    {% if title %}
        <title>Meeting Mayhem - {{ title }}</title>
    {% else %}
    <!-- if no title is found, just use the default title below -->
        <title>Meeting Mayhem</title>
    {% endif %}
</head>
<body>

    <!-- navigation bar, shamelessly stolen from the below repo -->
    <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/navigation.html -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
            <a class="navbar-brand mr-4" href="/">Meeting Mayhem</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                </div>

                <!-- Navbar Right Side -->
                <!-- TODO: this doesn't seem to move the links to the right side properly -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('packets') }}">Packets</a>
                        <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
            </div>
        </nav>
    </header>

    <!-- use the container class from bootstrap for fancy -->
    <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/main.html -->
    <main role="main" class="container">
    <div class="row">
        <!-- this is for displaying alerts on the webpage -->
        <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- this is where the child templates can overwrite content -->
        {% block content %}{% endblock %}
        </div>

        <!-- this is where the sidebar is managed. I haven't changed it yet -->
        <div class="col-md-4">
        <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
            </ul>
            </p>
        </div>
        </div>
    </div>
    </main>

    <!-- bootstrap required stuff begins here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <!-- bootstrap required stuff ends here -->
</body>
</html>