<!-- 
    File: packets.html
    Author: Robert Shovan /Voitheia
    Date Created: 6/24/2021
    Last Modified: 6/24/2021
    E-mail: rshovan1@umbc.edu
    Description: html and jinja file for handling the packets page
-->

{% extends "layout.html" %} <!-- this tells jinja that we are using a template -->
{% block content %} <!-- this piece of code tells jinja where to put the html for this page in the parent template -->
    <!--<p>{{ current_user.username }}</p>-->
    <h1>Packets</h1>

    {% if packet is iterable %} <!-- this checks if the passed packet var has content in it -->
    {% for packet in packet%} <!-- if packet has content, display it and some information about it like sender and round -->
        <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/article.html -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a>Sender: {{ packet.sender }}</a>
                <small class="text-muted">Round: {{ packet.round }}</small>
                </div>
                <p class="article-content">{{ packet.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% endif %}

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- these form groups are basically the same thing, just for each field needed for the packet -->
                <legend class="border-bottom mb4">Send a Packet</legend>
                <div class="form-group">
                    {{ form.recipient.label(class="form-control-label") }}

                    {% if form.recipient.errors %} <!-- if there are errors in the form... -->
                        {{ form.recipient(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.recipient.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.recipient(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }} <!-- i think this tells jinja to put a form box in here -->
                    
                    {% if form.content.errors %} <!-- if there are errors in the form... -->
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.content.errors %}
                                <span>{{ errors }}</span> <!-- display the errors -->
                            {% endfor %}
                        </div>
                    {% else %} <!-- if there aren't errors, just display normally -->
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}